Repository GetStream/stream-chat-android, pull requests merged in 2021-08, with the labels that each got.

#2130 2112 - Moved properties from the sample app to the library AndroidManifest.xml
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose-sample/src/main/AndroidManifest.xml
  stream-chat-android-compose/src/main/AndroidManifest.xml
Labels: compose, docs, enhancement

#2140 2138 - Exposed `isMine` on MessageItem.kt
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/03-message-list.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/items/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
Labels: compose

#2142 Exposed DefaultMessageContainer as public API
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose, enhancement

#2124 2123 - Improved the way we send data in the composer
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/04-message-composer.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
Labels: compose, enhancement

#2174 2170 - Added Channel name fallback
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
Labels: compose

#2152 2128 - Changed the way we show and preview Link attachments
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamAttachmentFactories.kt
Labels: enhancement, compose

#2154 2122 - Auto-initializing ViewModels by default
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/imagepreview/ImagePreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/imagepreview/ImagePreviewViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/imagepreview/ImagePreviewViewModelFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
Labels: enhancement, compose

#2169 2161 - Updated Compose & Kotlin versions
  UNRELEASED_CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
Labels: compose

#2163 2132 - Exposed Messages and Channels
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
Labels: enhancement, compose

#2183 2182 - Updated compose accompanist
  UNRELEASED_CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
Labels: compose

#2186 Feature/2115 improve last message logic
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/avatar/Avatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/avatar/ChannelAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/avatar/InitialsAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ImageUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/res/values/colors.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2222 2221 - Added missing MessageList loading and empty views from public API
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
Labels: enhancement, compose

#2252 2224 - Add basic date format customization
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/02-component-architecture.mdx
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChatApp.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/DateFormatType.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/Timestamp.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
Labels: enhancement, discussion, compose

#2254 Feature/2253 add overlay to channel info
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/01-basics/01-overview.mdx
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-channel-info.mdx
  docusaurus/docs/Android/assets/compose_channels_screen_example.png
  docusaurus/docs/Android/assets/compose_channels_screen_example_dark.png
  docusaurus/docs/Android/assets/compose_custom_channel_info_component.png
  docusaurus/docs/Android/assets/compose_custom_chat_theme_component.png
  docusaurus/docs/Android/assets/compose_default_channel_info_component.png
  docusaurus/docs/Android/assets/compose_default_channel_list_component.png
  docusaurus/docs/Android/assets/compose_default_channels_screen_component.png
  docusaurus/docs/Android/assets/compose_default_messages_screen_component.png
  docusaurus/docs/Android/assets/compose_default_messages_screen_component_dark.png
  docusaurus/docs/Android/assets/compose_default_search_input_component.png
  docusaurus/docs/Android/assets/compose_messages_screen_example.png
  docusaurus/docs/Android/assets/compose_messages_screen_example_dark.png
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: enhancement, compose

#2244 Feature/2212 improve attachmentfactory api design
  UNRELEASED_CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/02-attachment-factory.mdx
  docusaurus/docs/Android/04-compose/04-message-components/05-attachments-picker.mdx
  docusaurus/docs/Android/assets/compose_custom_messages_screen_component.png
  docusaurus/docs/Android/assets/compose_default_attachments_picker_component.png
  docusaurus/docs/Android/assets/compose_default_message_composer_component.png
  docusaurus/docs/Android/assets/compose_default_message_list_component.png
  docusaurus/docs/Android/assets/compose_default_message_list_header_component.png
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/build.gradle
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/FileAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/GiphyAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/ImageAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/LinkAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/components/FileAttachmentImage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/components/MessageAttachmentsContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/FilesPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/AttachmentsUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/StreamCoilImageLoader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_giphy_label.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: enhancement, compose

#2280 [Compose] - 2218 adjust scroll to bottom logic and UI
  UNRELEASED_CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/items/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic__arrow_down.xml
Labels: enhancement, compose
