Repository GetStream/stream-chat-android, pull requests merged in 2021-11, with the labels that each got.

#2551 [Compose] - Move load more handler to the correct package
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/LoadMoreHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelList.kt
Labels: compose

#2550 [Compose] - 2517 - Introduce spacing customization
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamTypography.kt
Labels: compose

#2562 [Compose] - 2456 - Review placeholders
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/03-channel-list.mdx
  docusaurus/docs/Android/04-compose/04-message-components/03-message-list.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelsState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/EmptyView.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_channels.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_search_results.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_search_results.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2569 [Compose] Fix the display of channel options in the ChannelInfo component
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
Labels: compose

#2561 Feature/2549 add missing slot apis for channels
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/03-channel-list.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-default-channel-item.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/05-channel-info.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_item.png
  docusaurus/docs/Android/assets/compose_custom_channel_list_item.png
  docusaurus/docs/Android/assets/compose_customized_default_channel_item.png
  docusaurus/docs/Android/assets/compose_default_channel_list_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
Labels: enhancement, feature request, compose

#2570 [Compose] - 2564 - Add state for muted channels
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_mute.xml
Labels: compose

#2573 [Compose] - 2565 - Add channel display name factory
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelNameFormatter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
Labels: compose

#2586 [Compose] - 2582 - Implement search channels by name and participants
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/06-utility-components/03-search-input.mdx
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
Labels: compose

#2589 [Compose] - 2382 - Add attachment text previews
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  docusaurus/docs/Android/04-compose/02-general-customization/02-attachment-factory.mdx
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/AttachmentsUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelNameFormatter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessagePreviewFormatter.kt
Labels: compose

#2600 [Compose] - 2595 - Add Slot APIs for the message list item
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageUtils.kt
Labels: compose

#2605 [Compose] Improve the design of ChannelInfo dialog
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelOption.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/UserUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_person.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_person_remove.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2611 [Compose] - 2468 - Add possibility to customize the message bubble color
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
Labels: compose

#2615 Fix docusaurus docs for removed extension
  docusaurus/docs/Android/04-compose/03-channel-components/03-channel-list.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-default-channel-item.mdx
Labels: compose

#2612 PoC ComposerViewModel merge
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageComposerController.kt
Labels: enhancement, compose

#2620 [Compose] - 2606 - Add the mute option to ChannelInfo dialog
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelListAction.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_mute.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_unmute.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2622 [Compose] - 2268 - Allow customization for attachments content size
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileUploadContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/GiphyAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/ImageAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/LinkAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/FileAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/GiphyAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/ImageAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/LinkAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/UploadAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
Labels: compose

#2627 [Compose] - 2626 - Show correct information in MessageListHeader subtitle
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
Labels: compose

#2632 [Compose] - 2607 - Improve the AttachmentFactory API design
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/02-attachment-factory.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/AttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/GiphyAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/LinkAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/UploadAttachmentFactory.kt
Labels: compose

#2616 CAS-1423 `ComposerViewModel` code sharing
  .gitignore
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Message.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessageMode.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageInputState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageOption.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomain.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageAction.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageMode.kt
Labels: enhancement, compose

#2633 [Compose] - 2351 - Expose the MessageReactions component
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/reaction/ReactionOption.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
Labels: compose

#2639 [Compose] Fix incorrect thead mode import
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
Labels: compose

#2642 [Compose] - 2624 - Improve thread design
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/items/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2645 [Compose] Add typing indicator component
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/TypingIndicator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2643 [Compose] Improve the design of message options overlay
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageOption.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_copy.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_edit.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread_reply.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2579 WIP [Compose] - 2547 - Add push notifications to sample app
  stream-chat-android-compose-sample/build.gradle
  stream-chat-android-compose-sample/src/main/AndroidManifest.xml
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChatApp.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/PushHandlerActivity.kt
Labels: compose

#2657 [Compose] - 2656 - Do not rely on channel members to display message list header subtitle
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2661 [Compose] - 2647 - Send typing events when the current user is typing
  CHANGELOG.md
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose

#2659 [Compose] - 2658 - Make interfaces functional
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/ClipboardHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelNameFormatter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessagePreviewFormatter.kt
Labels: compose

#2648 [Compose] - 2461 - Add support for message alignment customization
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageAlignmentProvider.kt
Labels: compose

#2651 [Compose] - 2621 - Add message length limitation
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageInputState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/ComposerIntegrations.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelController.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/ValidationError.kt
Labels: compose

#2666 [Compose] Add tint to mute icon
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
Labels: compose

#2692 [2677] Fix muted channel icon with long title
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
Labels: compose

#2675 [2674] Make NetworkLoadingView more customizable
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/NetworkLoadingView.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
Labels: compose

#2667 [2653] Implement input validation errors in the message composer
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/StorageHelperWrapper.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/MediaStringUtil.kt
  stream-chat-android/src/test/java/com/getstream/sdk/chat/GetDeletedOrMentionedTextTest.kt
Labels: compose

#2672 [2669] Introduce ChannelItem class
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/03-channel-list.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-default-channel-item.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/05-channel-info.mdx
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelsState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
Labels: compose

#2709 Minor UI improvements
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#2700 [2628] Implement mentions in message composer
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageInputState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/InputField.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/SuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/mentions/MentionSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/mentions/MentionSuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_mention.xml
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose
