Repository GetStream/stream-chat-android, pull requests merged in 2021-12, with the labels that each got.

#2722 [2704] Add support for slow mode
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageInputState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose

#2723 [2706] Add support for system messages
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/items/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
Labels: compose

#2727 [2720] Removed preemptive attachment loading that resulted in crashes
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
Labels: compose

#2728 2702 - Added message pinning
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageFocusState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_message_pinned.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_pin_message.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_unpin_message.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageAction.kt
Labels: enhancement, feature request, compose

#2732 [2714] Fix incorrect message shape
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#2726 General improvements & API cleanup
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/attachments/AttachmentPickerItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageComposerState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageFocusState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageItemGroupPosition.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageOption.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageOptionState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/reaction/ReactionOptionItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/FilesPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/ImagesPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageAlignmentProvider.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_message_pinned.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_pin_message.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_unpin_message.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageAction.kt
Labels: enhancement, compose

#2730 [2629] Add support for Giphy command
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageComposerState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/GiphyAction.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageListItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageOptionState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/components/ComposerIntegrations.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/SuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/commands/CommandSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/commands/CommandSuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/mentions/MentionSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/suggestions/mentions/MentionSuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_attachments.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_command.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_giphy.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose

#2734 [2733] Enable scrolling behavior in SelectedMessageOverlay
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
Labels: compose

#2738 [2707] Add support for message flagging
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/common/SimpleDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_flag.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2750 Update readme to feature Compose project management board
  README.md
  stream-chat-android-compose/README.md
Labels: docs, compose

#2746 [2638] Add support for also sent to channel
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/composer/MessageComposerState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose

#2766 Fix icon colors and sizes
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelDetails.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelLastMessageInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MimeTypeIconProvider.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_channels.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_search_results.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_clear.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_clock.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_close.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_delete.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_download.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_file_generic.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_message_pinned.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_mute.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_muted.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_new_chat.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_person.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_person_remove.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_pin_message.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_reply.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_search.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_send.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_share.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_show_in_chat.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread_reply.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_unmute.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_unpin_message.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_message_seen.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_message_sent.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_search_results.xml
Labels: compose

#2765 Cleaned up base message UI around footers
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageFooter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageThreadFooter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/ThreadParticipants.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
Labels: enhancement, compose

#2764 [2690] Add preview screens for file attachments
  CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/build.gradle
  stream-chat-android-compose/src/main/AndroidManifest.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/filepreview/AttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/filepreview/DocumentAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/filepreview/MediaAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/filepreview/UrlAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/mediapreview/MediaPreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/model/ModelType.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/view/activity/AttachmentDocumentActivity.java
Labels: compose

#2768 [2741] Implement SelectedMessage bottom sheet
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/06-selected-message-overlay.mdx
  docusaurus/docs/Android/assets/compose_custom_selected_message_menu_shape_and_alignment.png
  docusaurus/docs/Android/assets/compose_default_selected_message_menu.png
  docusaurus/docs/Android/assets/compose_default_selected_message_overlay_component.png
  docusaurus/docs/Android/assets/compose_selected_message_menu_custom_header_slot.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messageoptions/MessageOptionItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/reactionoptions/ReactionOptionItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageReactionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageReactions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ReactionOptionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ReactionOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/overlay/SelectedMessageOverlay.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_copy.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_delete.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_edit.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_flag.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_pin_message.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_reply.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread.xml
Labels: compose

#2770 2713 - Added logic to enable/disable date separators and system messa…
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
Labels: compose

#2785 [2686] Add website label to link attachment content
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/LinkAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
Labels: compose

#2787 [2745] Fix user mute/unmute behavior
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/06-selected-message-overlay.mdx
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageAction.kt
Labels: compose

#2791 2715 - Cleaned up the Message container and its item types
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/DefaultMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageDateSeparator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageFooter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageThreadSeparator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/OwnedMessageVisibilityContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/SystemMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageContainer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
Labels: enhancement, feature request, compose

#2797 [2796] Improve avatar previews
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ChannelAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_preview_avatar.xml
Labels: compose

#2801 [2800] Add previews for channel components
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewChannelData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewMembersData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewMessageData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelDetails.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelLastMessageInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembers.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembersItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptionsItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/MessageReadStatusIcon.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/UnreadCountIndicator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelNameFormatter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
Labels: compose

#2795 2794 - API improvements as per our discussion
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channel/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/Channels.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/Timestamp.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/TypingIndicator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/TypingIndicatorAnimatedDot.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/attachments/files/FilesPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/attachments/files/FilesPickerItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/attachments/images/ImagesPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/attachments/images/ImagesPickerGridItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ChannelAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelDetails.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelLastMessageInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/UnreadCountIndicator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/ComposerIntegrations.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInputAttachments.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ReactionOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/commands/CommandSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/commands/CommandSuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/mentions/MentionSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/mentions/MentionSuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
Labels: enhancement, compose

#2782 [2679] Add user reactions bottom sheet
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/OnBackPressedHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewReactionOptionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewUserData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewUserReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/SelectedMessageState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/userreactions/UserReactionItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/GiphyMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageReactionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageReactions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ReactionOptionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/userreactions/UserReactionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/userreactions/UserReactions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/imagepreview/ImagePreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageContainer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2804 Address warnings in the Compose codebase
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewMembersData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/DateFormatType.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/imagepreview/ImagePreviewResult.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/NewMessageState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/attachments/AttachmentsPickerMode.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/imagepreview/ImagePreviewContract.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamTypography.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelViewModelFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/imagepreview/ImagePreviewViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/imagepreview/ImagePreviewViewModelFactory.kt
Labels: compose

#2811 [2810] Align the naming of Slot API parameters
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-default-channel-item.mdx
  docusaurus/docs/Android/04-compose/04-message-components/02-message-list-header.mdx
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/SuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/commands/CommandSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/mentions/MentionSuggestionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#2822 Minor fix of recomposition
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
Labels: compose

#2809 2662 - Added more slots to the MessageComposer and MessageInput
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/04-message-composer.mdx
  docusaurus/docs/Android/assets/compose_custom_message_composer_component.png
  docusaurus/docs/Android/assets/compose_default_message_composer_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/CoolDownIndicator.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerState.kt
Labels: enhancement, feature request, compose

#2823 [2682] Improve ChannelInfoComponent
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
Labels: compose

#2825 [2824] Improve ChannelItem component
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
Labels: compose

#2828 [2818] Update ChannelListHeader docs
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_list_header_component.png
  docusaurus/docs/Android/assets/compose_default_channel_list_header_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
Labels: compose

#2837 [2818] Update change log for `ChannelListHeader` docs update
  CHANGELOG.md
Labels: compose

#2832 [2781] Update `ChannelItem` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-channel-item.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/04-default-channel-item.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_list_item.png
  docusaurus/docs/Android/assets/compose_customized_default_channel_item.png
  docusaurus/docs/Android/assets/compose_default_channel_list_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
Labels: compose

#2839 [2817] Update `ChannelsScreen` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/assets/compose_default_channels_screen_component.png
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/ChannelInfo.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/SimpleMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
Labels: compose

#2834 [2780] Update Component Architecture docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-component-architecture.mdx
  docusaurus/docs/Android/assets/compose_default_channels_screen_component.png
  docusaurus/docs/Android/assets/compose_default_search_input_component.png
Labels: compose

#2830 [2829] Handle broken avatar image URLs
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewChannelData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/Avatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ChannelAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/GroupAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ImageAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/InitialsAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/ThreadParticipants.kt
Labels: compose

#2833 [2778] Update ChatTheme docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-component-architecture.mdx
  docusaurus/docs/Android/04-compose/02-general-customization/01-chat-theme.mdx
  docusaurus/docs/Android/04-compose/02-general-customization/02-attachment-factory.mdx
  docusaurus/docs/Android/assets/compose_custom_chat_theme_component.png
  docusaurus/docs/Android/assets/compose_default_messages_screen_component.png
  docusaurus/docs/Android/assets/compose_default_messages_screen_component_dark.png
Labels: compose

#2847 [2819] Update `ChannelList` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/03-channel-list.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewChannelData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channel/list/ChannelItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelList.kt
Labels: compose

#2860 [2849] Update AttachmentsPicker docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/05-attachments-picker.mdx
  docusaurus/docs/Android/assets/compose_custom_attachments_picker_component.png
  docusaurus/docs/Android/assets/compose_default_attachments_picker_component.png
Labels: compose

#2838 [2820] Update `SelectedChannelMenu` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/05-channel-info.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/05-selected-channel-menu.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_info_component.png
  docusaurus/docs/Android/assets/compose_custom_selected_channel_menu_component.png
  docusaurus/docs/Android/assets/compose_default_channel_info_component.png
  docusaurus/docs/Android/assets/compose_default_selected_channel_menu_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChannelActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/SimpleMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembers.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembersItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptionsItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values-es/strings.xml
  stream-chat-android-compose/src/main/res/values-fr/strings.xml
  stream-chat-android-compose/src/main/res/values-hi/strings.xml
  stream-chat-android-compose/src/main/res/values-it/strings.xml
  stream-chat-android-compose/src/main/res/values-ja/strings.xml
  stream-chat-android-compose/src/main/res/values-ko/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2836 [2779] Update Compose Overview documentation
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/04-message-components/01-messages-screen.mdx
  docusaurus/docs/Android/04-compose/04-message-components/06-selected-message-menu.mdx
  docusaurus/docs/Android/assets/compose_channels_screen_example.png
  docusaurus/docs/Android/assets/compose_channels_screen_example_dark.png
  docusaurus/docs/Android/assets/compose_messages_screen_example.png
  docusaurus/docs/Android/assets/compose_messages_screen_example_dark.png
Labels: compose
