Repository GetStream/stream-chat-android, pull requests merged in 2022-10, with the labels that each got.

#4225 [4224] Write to cache in buffered chunks
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/StreamFileUtil.kt
Labels: compose

#4232 [4231] Fix displaying image attachments that have failed to send V6
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/ImageAttachmentView.kt
Labels: ui-components

#4220 Refactor/factories
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/interceptor/MessageInterceptor.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/interceptor/SendMessageInterceptor.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/plugin/Plugin.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/setup/InitializationCoordinator.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/BaseChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenConnectUser.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/internal/OfflinePlugin.kt
  stream-chat-android-state/detekt-baseline.xml
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/interceptor/internal/SendMessageInterceptor.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/ChannelMarkReadListenerState.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/MarkAllReadListenerState.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/logic/internal/LogicRegistry.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/state/StateRegistry.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/utils/internal/ChannelMarkReadHelper.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/factory/StreamStatePluginFactory.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/internal/StatePlugin.kt
  stream-chat-android-state/src/test/java/io/getstream/chat/android/offline/channel/ChannelMarkReadHelperTests.kt
  stream-chat-android-state/src/test/java/io/getstream/chat/android/offline/interceptor/internal/SendMessageInterceptorTest.kt
Labels: core

#4228 [4226] Preview failed uploads
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/MediaAttachmentContent.kt
Labels: compose

#4257 [56] Fix avatar snapshot tests
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/BaseUiTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/FakeImageLoader.kt
Labels: ui-components

#4270 [4042] Fallback UI for unsupported attachments in Compose
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/UnsupportedAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/UnsupportedAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#4267 [4091] Fix system bar colors in Compose
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/MediaGalleryPreviewActivity.kt
Labels: compose

#4269 [4091] Fix status bar colors in XML
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/res/values-night/colors.xml
  stream-chat-android-ui-components/src/main/res/values-v23/themes.xml
  stream-chat-android-ui-components/src/main/res/values-v29/themes.xml
  stream-chat-android-ui-components/src/main/res/values/colors.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
  stream-chat-android-ui-components/src/main/res/values/themes.xml
Labels: ui-components

#4265 [56] Improve snapshot tests
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/ComposeScreenshotTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/uicomponents/channels/ChannelListItemViewTest.kt
Labels: compose, ui-components

#4271 [4042] Fallback UI for unsupported attachments in XML
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/TransformStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/UnsupportedAttachmentViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentFactoryManager.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/UnsupportedAttachmentFactory.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_custom_attachments.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_unsupported_attachment_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_unsupported_attachment_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#4282 Add android samples page
  CHANGELOG.md
  docusaurus/docs/Android/02-client/06-guides/10-video-integrations/01-video-100ms.mdx
  docusaurus/docs/Android/02-client/06-guides/10-video-integrations/02-video-agora.mdx
  docusaurus/docs/Android/05-resources/01-sample-apps.mdx
  docusaurus/sidebars-android.js
Labels: compose, ui-components

#4144 [4017] Make disconnection flow more errorless
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/clientstate/DisconnectCause.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/clientstate/UserState.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/clientstate/UserStateService.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/scope/ClientScope.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/scope/UserScope.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/scope/user/UserIdentifier.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/scope/user/UserJob.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/setup/state/ClientMutableState.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/setup/state/ClientState.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/setup/state/internal/ClientStateImpl.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/experimental/ChatSocket.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/experimental/ChatSocketStateService.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ConnectUserTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/MockClientBuilder.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/ClientConnectionTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/BaseChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/scope/TestScope.kt
  stream-chat-android-state/api/stream-chat-android-state.api
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/factory/StreamStatePluginFactory.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/internal/StatePlugin.kt
  stream-chat-android-ui-guides/build.gradle
Labels: core

#3948 Feature/3929 bidirectional pagination
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/models/QueryChannelRequest.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Channel.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/notifications/LoadNotificationDataWorker.kt
  stream-chat-android-compose-sample/detekt-baseline.xml
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/Messages.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessagesLazyListState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageListUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModelTest.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageList.kt
  stream-chat-android-state/api/stream-chat-android-state.api
  stream-chat-android-state/detekt-baseline.xml
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/model/channel/ChannelData.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelLogic.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelStateLogic.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/SearchLogic.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/logic/querychannels/internal/QueryChannelsStateLogic.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/state/channel/internal/ChannelMutableState.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/plugin/state/internal/ChatClientStateCalls.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/sync/internal/SyncManager.kt
  stream-chat-android-state/src/test/java/io/getstream/chat/android/offline/channel/controller/WhenHandleEvent.kt
  stream-chat-android-state/src/test/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelStateLogicTest.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/ChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/GroupChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/users/GroupChatInfoAddUsersViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/com/getstream/sdk/chat/view/messages/MessageListItemWrapper.kt
  stream-chat-android-ui-components/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveData.kt
  stream-chat-android-ui-components/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/internal/MessageListScrollHelper.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/factory/MessageListViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/TypingIndicatorViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/factory/TypingIndicatorViewModelFactory.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/MessageListItemLiveDataTest.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/viewmodels/MessageListViewModelTest.kt
  stream-chat-android-ui-utils/src/main/kotlin/io/getstream/chat/android/uiutils/extension/Channel.kt
Labels: compose, ui-components, core, v6-candidate

#4283 [3369] video thumbnails UI components gallery
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/TransformStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/internal/AttachmentUtils.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentGalleryActivity.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentGalleryViewMediaStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/MediaAttachmentGridViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/internal/AttachmentGalleryImagePageFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/internal/AttachmentGalleryPagerAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/internal/AttachmentGalleryVideoPageFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/AttachmentGalleryOptionsViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/internal/AttachmentGalleryOptionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/internal/AttachmentGalleryOptionsView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/overview/MediaAttachmentGridView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/overview/internal/MediaAttachmentAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/overview/internal/MediaAttachmentDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/MediaAttachmentViewStyle.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_activity_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_attachment_gallery_options_view.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_dialog_media_attachment.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_attachment_gallery_image.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_attachment_gallery_video.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_image_gallery.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_media_attachment.xml
  stream-chat-android-ui-components/src/main/res/values-en/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-es/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-fr/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-hi/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-id/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-in/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-it/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-ja/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values-ko/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_attachment_gallery_activity.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_attachment_gallery_video_attachments.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_attachment_options_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_media_attachment_grid_view.xml
  stream-chat-android-ui-components/src/main/res/values/strings_attachment_gallery.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#4320 [4305] Remove ThreeTenABP dependency
  CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  docusaurus/docs/Android/03-ui/02-general-customization/02-chatui.mdx
  docusaurus/docs/Android/03-ui/06-guides/05-app-startup-initializers.mdx
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/Timestamp.kt
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/general/Configuration.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/AppStartupInitializers.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/messages/MessageListViewSnippets.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/Configuration.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/AppStartupInitializers.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageList.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/build.gradle
  stream-chat-android-ui-common/src/main/AndroidManifest.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/startup/ThreeTenInitializer.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/DateConverter.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/DateFormatter.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/utils/DefaultDateFormatterTest.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/ChatUIInitializer.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentGalleryActivity.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/FootnoteDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/preview/internal/MessagePreviewView.kt
Labels: compose, ui-components

#4316 [4078] Add listening for events guide
  CHANGELOG.md
  docusaurus/docs/Android/02-client/06-guides/11-listening-for-events.mdx
  docusaurus/sidebars-android.js
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/client/docusaurus/ListeningForEvents.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/client/docusaurus/ListeningForEvents.kt
Labels: docs
