Repository GetStream/stream-chat-android, pull requests merged in 2022-06, with the labels that each got.

#3464 Api request analyser
  docusaurus/docs/Android/02-client/06-guides/08-optimizations.mdx
  docusaurus/docs/Android/02-client/06-guides/09-debug.mdx
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/ChatClientConfig.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/interceptor/ApiRequestAnalyserInterceptor.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/di/BaseChatModule.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/plugins/requests/ApiRequestsAnalyser.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/plugins/requests/ApiRequestsDumper.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/plugins/requests/RequestData.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/MockClientBuilder.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/ClientConnectionTests.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/application/ChatInitializer.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/home/HomeFragment.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/header/ChannelListHeaderView.kt
Labels: ui-components, core

#3623 Cover Compose ViewModels with tests
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/ChannelMute.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/internal/ExtraDataValidatorTests.kt
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/LoadMoreHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageListItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamTypography.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/MediaAttachmentPreviewHandlerTest.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/channels/ChannelListViewModelTest.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/imagepreview/ImagePreviewViewModelTest.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModelTest.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModelTest.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModelTest.kt
  stream-chat-android-compose/src/test/resources/junit-platform.properties
  stream-chat-android-compose/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/StateRegistry.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/global/internal/GlobalMutableState.kt
  stream-chat-android-test/src/main/java/io/getstream/chat/android/test/TestCoroutineExtension.kt
Labels: compose, ui-components, core, tests

#3617 [3616] Provide VM builders to avoid IDE complains
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/ChannelListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/factory/ChannelListViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/factory/MessageListViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/pinned/list/viewmodel/PinnedMessageListViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/factory/TypingIndicatorViewModelFactory.kt
Labels: ui-components

#3638 Remove death penalty for violating strict mode policy
  stream-chat-android-ui-components-sample/src/debug/kotlin/io/getstream/chat/ui/sample/application/DebugMetricsHelper.kt
Labels: core

#3593 [3460] Configure snapshot tests to run in both dark and light modes
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemForChannelWithoutMessages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemForMutedChannel_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemWithUnreadCount_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemWithoutCurrentUser_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListHeaderTest_channelListHeaderForConnectedState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListHeaderTest_channelListHeaderForConnectingState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListHeaderTest_channelListHeaderForOfflineState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListHeaderTest_channelListHeaderWithoutTitle_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListHeaderTest_channelListHeaderWithoutUser_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithContentState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithEmptyState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithLoadingMoreState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithLoadingState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.SelectedChannelMenuTest_selectedChannelMenu_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFiveMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFiveMembers_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFourMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFourMembers_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithOneMemberWithoutImage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithOneMember_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithThreeMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithThreeMembers_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithTwoMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithTwoMembers_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithoutCurrentUser_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.MessageReadStatusIconTest_messageReadStatusIconForSeenMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.MessageReadStatusIconTest_messageReadStatusIconForSentMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.MessageReadStatusIconTest_messageReadStatusIconForSyncNeededMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ReactionOptionsTest_reactionOptions_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UnreadCountIndicatorTest_unreadCountIndicatorForFewUnreadMessages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UnreadCountIndicatorTest_unreadCountIndicatorForManyUnreadMessages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForOnlineUserWithBottomEndIndicator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForOnlineUserWithBottomStartIndicator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForOnlineUserWithTopEndIndicator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForOnlineUserWithTopStartIndicator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForUserWithImage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.UserAvatarTest_uerAvatarForUserWithoutImage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.channels.ChannelListViewTest_channelListWithLoadingMoreState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.EditReactionsTest_reactionsTestWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithFiveReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithOnlyUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithSomeUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.search.SearchViewTest_testVeryLongSearch.png
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/ComposeScreenshotTest.kt
Labels: compose

#3603 [3501] Add handler to attachments
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileUploadContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#3634 [3545] Improve scroll button customizability
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/ScrollButtonViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/internal/ScrollButtonView.kt
  stream-chat-android-ui-components/src/main/res/drawable/stream_ui_shape_scroll_button_badge.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_list_view.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_scroll_button_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_list_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: bug, feature request

#3659 [3468] add ability to enable sequential event handling
  CHANGELOG.md
  docusaurus/docs/Android/01-basics/04-getting-started.mdx
  docusaurus/docs/Android/02-client/06-guides/06-offline-support.mdx
  docusaurus/docs/Android/02-client/06-guides/07-chatdomain-migration.mdx
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/configuration/Config.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/factory/StreamOfflinePluginFactory.kt
Labels: core

#3655 [3635] Sync history only when necessary
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerSequential.kt
Labels: core

#3656 Fixing concurrency problems with unread count
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerProvider.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelLogic.kt
Labels: core

#3660 [3575] Eliminate deperecated is admin checks
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/ChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/GroupChatInfoFragment.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/GroupChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/member/GroupChatInfoMemberOptionsDialogFragment.kt
Labels: ui-components

#3670 [3669] Prepare offline module for state module extraction
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/detekt-baseline.xml
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Channel.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Member.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Message.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/MessageReactions.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Pair.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Reaction.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/User.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/internal/MessageUtils.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/internal/Validation.kt
  stream-chat-android-core/src/main/java/io/getstream/chat/android/core/utils/date/DateUtils.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/errorhandler/internal/QueryMembersErrorHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/errorhandler/internal/SendReactionErrorHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventBatchUpdate.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerSequential.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/interceptor/internal/SendMessageInterceptorImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/DeleteReactionListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/HideChannelListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/QueryMembersListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/listener/internal/SendReactionListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/internal/LogicRegistry.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/querychannels/internal/QueryChannelsLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/channel/internal/ChannelMutableState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/channel/thread/internal/ThreadMutableState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/global/internal/GlobalMutableState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/global/internal/MutableGlobalState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/querychannels/internal/QueryChannelsMutableState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/builder/internal/RepositoryFacade.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/internal/DatabaseChannelRepository.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/sync/internal/SyncManager.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/sync/messages/internal/SyncMessagesWork.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/utils/internal/MessageUtils.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/PaginationTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/SynchronizedCoroutineTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/channel/controller/WhenHandleEvent.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/event/EventHandlerImplTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/event/TotalUnreadCountTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/BaseDomainTest2.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/internal/extensions/ChannelExtensionsTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/internal/extensions/MemberExtensionsTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/internal/extensions/ReactionExtensionsTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/reactions/DeleteReactionsTests.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/reactions/SendReactionsTests.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/utils/TestDataHelper.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/utils/internal/ValidationKtTest.kt
Labels: core

#3607 [3458] Snapshot tests for messages
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/util/extensions/ChannelCapabilities.kt
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemWithoutCurrentUser_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithLoadingState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelListTest_channelListWithLoadingState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFiveMembersWithoutImages.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFiveMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFourMembersWithoutImages.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithFourMembersWithoutImages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithoutCurrentUser_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageComposerTest_messageComposerWithEmptyInput.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageComposerTest_messageComposerWithEmptyInput_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageComposerTest_messageComposerWithTextInput.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageComposerTest_messageComposerWithTextInput_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_dateSeparator.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_dateSeparator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_systemMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_systemMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_threadSeparator.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageContainerTest_threadSeparator_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForMineMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForMineMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForReadMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForReadMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForTheirMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageItemTest_messageItemForTheirMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForConnectedState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForConnectedState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForOfflineState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForOfflineState_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForThreadMode.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListHeaderTest_messageListHeaderForThreadMode_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListTest_messageListWithMineMessages.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListTest_messageListWithMineMessages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListTest_messageListWithTheirMessages.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.MessageListTest_messageListWithTheirMessages_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedMessageMenuTest_selectedMessageMenuForMineMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedMessageMenuTest_selectedMessageMenuForMineMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedMessageMenuTest_selectedMessageMenuForTheirMessage.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedMessageMenuTest_selectedMessageMenuForTheirMessage_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedReactionsMenuTest_selectedReactionsMenuForManyReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedReactionsMenuTest_selectedReactionsMenuForManyReactions_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedReactionsMenuTest_selectedReactionsMenuForOneReaction.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.messages.SelectedReactionsMenuTest_selectedReactionsMenuForOneReaction_dark.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.channels.ChannelListViewTest_channelListWithLoadingMoreState.png
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/MessageReadStatusIconTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/MessageComposerTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/MessageContainerTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/MessageItemTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/MessageListHeaderTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/MessageListTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/SelectedMessageMenuTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/messages/SelectedReactionsMenuTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/FakeImageLoader.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/TestData.kt
Labels: compose

#3633 [3528] Improve typing updates
  CHANGELOG.md
  DEPRECATIONS.md
  docusaurus/docs/Android/03-ui/04-message-components/04-message-input.mdx
  docusaurus/docs/Android/04-compose/05-message-components/04-message-composer.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageComposer.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageInput.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/typing/DefaultTypingUpdatesBuffer.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/typing/TypingUpdatesBuffer.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/viewmodel/MessageInputViewModelBinding.kt
Labels: compose, ui-components

#3693 [3692] Reinstate missing chat bubble
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/EmojiUtil.kt
Labels: compose

#3694 [3555] add uncaught exceptions for coroutine & more logging
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerSequential.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/sync/internal/SyncManager.kt
Labels: core

#3644 Add Channel::unreadMentions extension function
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/ChannelExtension.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/Message.kt
Labels: core

#3654 Bi lateral scroll after search
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/models/Pagination.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/models/QueryChannelRequest.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/SearchLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/channel/ChannelState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/channel/internal/ChannelMutableState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/DatabaseMessageRepository.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/view/EndlessMessageListScrollListener.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/view/messages/MessageListItemWrapper.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/ChannelListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/internal/MessageListScrollHelper.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
Labels: ui-components, core

#3641 [3621] Add MockWebServer for UI tests
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/testing/utils.kt
  stream-chat-android-client/src/test/resources/event.channel.updated.json
  stream-chat-android-client/src/test/resources/message.json
  stream-chat-android-client/src/test/resources/model.member.json
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_message_plain_text.xml
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/BaseUiTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/UiTestsSuite.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/robot/BaseComposeTestRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/robot/ComposeChannelsRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/robot/ComposeLoginRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/robot/ComposeMessagesRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/test/ComposeChannelsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/compose/test/ComposeMessagesTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/test/MessagesTests.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/action/WaitViewAction.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/robot/BaseUiComponentsTestRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/robot/UiComponentsChannelsRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/robot/UiComponentsMessagesRobot.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/test/UiComponentsChannelsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/uicomponents/test/UiComponentsMessagesTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/util/CoroutineTaskExecutorRule.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/ui/util/DelegatingIdlingResourceDispatcher.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/FileUtils.kt
  stream-chat-android-ui-uitests/src/androidTest/resources/http_channel.json
  stream-chat-android-ui-uitests/src/androidTest/resources/http_channels.json
  stream-chat-android-ui-uitests/src/androidTest/resources/http_message.json
  stream-chat-android-ui-uitests/src/androidTest/resources/ws_health_check.json
  stream-chat-android-ui-uitests/src/androidTest/resources/ws_message_new.json
  stream-chat-android-ui-uitests/src/main/AndroidManifest.xml
  stream-chat-android-ui-uitests/src/main/res/xml/network_security_config.xml
Labels: compose, ui-components

#3696 [3626] Hide options button when all options are disabled
  .idea/inspectionProfiles/ktlint.xml
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/TransformStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentGalleryActivity.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/AttachmentGalleryOptionsViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/internal/AttachmentGalleryOptionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/options/internal/AttachmentGalleryOptionsView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/attachment/internal/AttachmentOptionsView.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_attachment_gallery_options_view.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_fragment_attachment_options.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_attachment_options_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3719 [3718]external storage permission xml
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
Labels: ui-components

#3676 Feat/3645 external storage permission
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/AndroidManifest.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/PermissionHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/StreamPermissionHandlers.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/AttachmentsPickerViewModel.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/Context.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
Labels: compose

#3728 [3628] Updating the current user resets channel mutes
  CHANGELOG.md
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerSequential.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/model/SelfUser.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/utils/SelfUserUtils.kt
  stream-chat-android-ui-components/detekt-baseline.xml
Labels: core

#3741 [3740] Fix video thumbs
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/application/App.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/ChatUIInitializer.kt
Labels: ui-components

#3739 Use SharedFlow with buffer for WebSocket events
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/socket/ws/WebSocketEventObserver.kt
Labels: core

#3749 Fix streamUiMessageInputHintText property not getting applied properly
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
Labels: bug, ui-components

#3751 [3750] Fix link attachment previews
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/images/CoilStreamImageLoader.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/images/RoundedCornersTransformation.kt
Labels: compose, ui-components

#3762 [3760] Remove the default filter from ChannelListFragment
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/ChannelListFragment.kt
Labels: ui-components

#3766 [3763] Fix pending delivery icon not rendering properly
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/ChannelListViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListItemStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/extensions/TypedArray.kt
Labels: ui-components

#3773 Extract `devToken()` outside of `ChatClient`
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/TokenUtils.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/utils/DevTokenTest.kt
Labels: core

#3756 Fixing reply inside notification
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/interceptor/internal/SendMessageInterceptorImpl.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/interceptor/internal/SendMessageInterceptorImplTest.kt
Labels: core

#3776 Empty channel when retrying messages fix
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/querychannels/internal/QueryChannelsLogic.kt
Labels: core

#3772 [3529 & 3770] Optimize calls to mark read
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/Messages.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
Labels: compose

#3799 [3786] Show footer before system messages
  CHANGELOG.md
  stream-chat-android-ui-common/detekt-baseline.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveData.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveDataTest.kt
Labels: ui-components

#3791 [3789] Channel screen gets stuck with an infinite loading
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/di/BaseChatModule.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/helpers/CallPostponeHelper.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ConnectUserTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/MockClientBuilder.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/ClientConnectionTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/BaseChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenQueryChannel.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/helpers/CallPostponeHelperTests.kt
  stream-chat-android-offline/detekt-baseline.xml
Labels: core

#3804 [3689] Preserve channel list state
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/ChannelListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/internal/SimpleChannelListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/internal/SnapToTopDataObserver.kt
Labels: ui-components

#3788 [3752] Expose message preview formatter
  CHANGELOG.md
  docusaurus/docs/Android/03-ui/02-general-customization/02-chatui.mdx
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/errors/ChatParsingError.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/CommonExtensions.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/ChatUI.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/MessagePreviewFormatter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/Channel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/Collections.kt
Labels: ui-components

#3809 [3808] Disable scroll when showing dialog
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/internal/MessageListScrollHelper.kt
  stream-chat-android-ui-components/src/main/res/values/attrs_message_list_view.xml
Labels: ui-components
