Repository GetStream/stream-chat-android, pull requests merged in 2022-03, with the labels that each got.

#3160 [Patch Release] Update Compose, Accompanist and Moshi dependencies.
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/MediaAttachmentsGroupView.kt
Labels: compose, core

#3162 Fixed marking channel as read
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/ChannelMarkReadListener.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelMarkReadHelper.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/channel/ChannelMarkReadHelperTests.kt
Labels: core

#3139 Add image and name properties to Channel and User objects
  CHANGELOG.md
  docusaurus/docs/Android/01-basics/03-getting-started.mdx
  docusaurus/docs/Android/02-client/01-users.mdx
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ChannelInfoMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ChannelMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/UserMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ChannelDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ChannelInfoDto.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/UserDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Channel.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/ChannelInfo.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Extensions.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/User.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/SocketFactory.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/models/ExtensionsTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/models/InitialsExtensionsTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser/EventArguments.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/ChannelDtoTestData.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/ChannelInfoDtoTestData.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/UserDtoTestData.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/ChatDatabase.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/ChannelEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/ChannelMapper.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/user/UserEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/user/UserRepository.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/Mother.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/Mother.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/Mother.kt
Labels: core

#3166 Fix displaying Channel's name and image
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelData.kt
Labels: ui-components, core

#3137 [3135] Allow passing long click handler to `MessageText`
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#3143 [3142] Improve Compose code structure
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/ChannelsActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/AndroidManifest.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channels/list/ChannelAction.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channels/list/ChannelItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channels/list/ChannelOptionState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/channels/list/ChannelsState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/ImageAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewContract.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/MediaPreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/handler/AttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/handler/DocumentAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/handler/MediaAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/handler/UrlAttachmentPreviewHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/Channels.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channels/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channels/ChannelViewModelFactory.kt
Labels: compose

#3116 [3109] Refactor AttachmentViewFactory
  CHANGELOG.md
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Messages.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Messages.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/ChatUI.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/MessageListItemViewHolderFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/MessageListItemViewType.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemViewTypeMapper.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentFactoryManager.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentViewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/AvatarDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/BackgroundDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/BaseDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/FailedIndicatorDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/FootnoteDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/GapDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/MaxPossibleWidthDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/MessageContainerMarginDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/PinIndicatorDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/ReactionsDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/ReplyDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/TextDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/internal/CustomAttachmentsViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/internal/TextAndAttachmentsViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_custom_attachments.xml
Labels: ui-components

#3178 [3177] Fix typing event crashes
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/listener/TypingEventListenerImpl.kt
Labels: core

#3165 Move create channel side effects to LLC
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/channel/ChannelClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/errorhandler/listeners/CreateChannelErrorHandler.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/CreateChannelListener.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ChatHelper.kt
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/AndroidIntroduction.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ChannelTypes.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Channels.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/AndroidIntroduction.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ChannelTypes.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Channels.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/CreateChannelService.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/errorhandler/factory/DeleteReactionErrorHandlerFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/errorhandler/factory/OfflineErrorHandlerFactories.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/errorhandler/factory/QueryMembersErrorHandlerFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/errorhandler/factory/SendReactionErrorHandlerFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/errorhandler/listener/CreateChannelErrorHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/OfflinePlugin.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/listener/CreateChannelListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/querychannels/QueryChannelsController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/utils/ChannelUtils.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/ChatDomainImplCreateChannelTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/channel/CreateChannelTests.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/BaseDomainTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/ConnectedRecoveryTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/querychannels/QueryChannelsControllerTest.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/application/ChatInitializer.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/add/AddChannelViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/add/group/select_name/AddGroupChannelSelectNameViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/preview/ChatPreviewViewModel.kt
Labels: ui-components, core

#3183 [3109] Rename inner attachment ViewHolder
  CHANGELOG.md
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Messages.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Messages.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/AttachmentFactoryManager.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/InnerAttachmentViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/internal/CustomAttachmentsViewHolder.kt
Labels: ui-components

#3185 Allow customizing retry message action
  CHANGELOG.md
  docusaurus/docs/Android/03-ui/05-components/05-message-list.mdx
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsView.kt
  stream-chat-android-ui-components/src/main/res/values/attrs_message_list_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3195 Fix querying channels before setting the user
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/di/BaseChatModule.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/helpers/QueryChannelsPostponeHelper.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ChatClientTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/MockClientBuilder.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/ClientConnectionTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/helpers/QueryChannelsPostponeHelperTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/utils/DevTokenTest.kt
Labels: core

#3196 Improve creating channel offline
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/listener/CreateChannelListenerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/user/UserRepository.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/channel/CreateChannelTests.kt
Labels: core

#3190 [3040] Migrate UI comp `ViewModels` to `OfflinePlugin`
  CHANGELOG.md
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/ChannelsActivity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/querychannels/logic/QueryChannelsLogic.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/BaseMessageListHeaderViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModelTest.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModelTest.kt
  stream-chat-android-ui-components-sample/build.gradle
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/add/AddChannelViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/add/group/select_name/AddGroupChannelSelectNameViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/ChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/GroupChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/member/GroupChatInfoMemberOptionsViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/users/GroupChatInfoAddUsersViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/shared/ChatInfoSharedGroupsFragment.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/shared/media/ChatInfoSharedMediaFragment.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/preview/ChatPreviewViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/home/HomeFragmentViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/header/viewmodel/ChannelListHeaderViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/ChannelListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/factory/ChannelListViewModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/Channel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/User.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/mention/list/MentionListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/mention/list/internal/MentionListAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/internal/MessageInputFieldView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/pinned/list/PinnedMessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/pinned/list/internal/PinnedMessageListAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/search/internal/SearchResultListAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/search/list/SearchResultListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/TypingIndicatorViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/factory/TypingIndicatorViewModelFactory.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/ChannelListViewModelTest.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewModelTest.kt
Labels: ui-components

#3197 [2958] Add Compose snippets to Docs module
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  docusaurus/docs/Android/04-compose/04-channel-components/04-channel-item.mdx
  docusaurus/docs/Android/04-compose/05-message-components/01-messages-screen.mdx
  docusaurus/docs/Android/04-compose/05-message-components/06-selected-message-menu.mdx
  docusaurus/docs/Android/04-compose/05-message-components/07-selected-reactions-menu.mdx
  stream-chat-android-docs/build.gradle
  stream-chat-android-docs/src/main/AndroidManifest.xml
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/AttachmentGallery.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/ChannelList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/ChatView.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/GlobalCustomization.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/MentionList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/PinnedMessageList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/SearchView.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/Setup.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/messagelist/CustomMessageViewHolderFactory.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/messagelist/MessageListFragment.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/messagelist/MessageListViewExample.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/cookbook/ui/messagelist/TodayViewHolder.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/ComponentArchitecture.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/Overview.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelItem.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelsScreen.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/SelectedChannelMenu.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/general/ChatTheme.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/general/CustomAttachments.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/AddingCustomAttachments.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/AttachmentsPicker.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageComposer.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessagesScreen.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/ReactionsPicker.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedMessageMenu.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedReactionsMenu.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/utility/ChannelAvatar.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/utility/SearchInput.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/utility/UserAvatar.kt
  stream-chat-android-docs/src/main/res/drawable/ic_calendar.xml
  stream-chat-android-docs/src/main/res/drawable/ic_info.xml
  stream-chat-android-docs/src/main/res/drawable/ic_keyboard.xml
  stream-chat-android-docs/src/main/res/drawable/shape_shimmer.xml
  stream-chat-android-docs/src/main/res/layout/channel_list_loading_view.xml
  stream-chat-android-docs/src/main/res/layout/custom_channel_list_item.xml
  stream-chat-android-docs/src/main/res/layout/custom_plain_text_item.xml
  stream-chat-android-docs/src/main/res/layout/item_loading_view.xml
  stream-chat-android-docs/src/main/res/layout/message_list_view_customization.xml
  stream-chat-android-docs/src/main/res/layout/message_list_view_example.xml
  stream-chat-android-docs/src/main/res/layout/today_message_list_item.xml
  stream-chat-android-docs/src/main/res/values/strings.xml
Labels: compose

#3200 Delete `QueryChannelsController`
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channels/ChannelListViewModel.kt
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Android.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/AndroidIntroduction.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Android.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/AndroidIntroduction.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/ChatDomain.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/controller/QueryChannelsController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/controller/QueryChannelsControllerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomain.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/querychannels/logic/QueryChannelsLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/querychannels/QueryChannelsController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/usecase/QueryChannels.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/BaseConnectedIntegrationTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/BaseDomainTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/integration/BaseDomainTest2.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/querychannels/QueryChannelsControllerIntegratedMockTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/querychannels/QueryChannelsControllerIntegrationTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/querychannels/QueryChannelsControllerTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/querychannels/WhenQuery.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/usecase/QueryChannelsLoadMoreTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/usecase/QueryChannelsTest.kt
Labels: core

#3202 Delete `ThreadController`
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Android.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Android.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/ChatDomain.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/controller/ThreadController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/livedata/controller/ThreadControllerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomain.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/thread/ThreadController.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/thread/ThreadControllerImplTest.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/usecase/ThreadLoadMoreTest.kt
Labels: core

#3205 [2957] Clean up snippets in docs module for UI Components
  CHANGELOG.md
  docusaurus/docs/Android/03-ui/04-message-components/02-message-list.mdx
  docusaurus/docs/Android/03-ui/05-utility-components/04-attachment-gallery.mdx
  stream-chat-android-docs/build.gradle
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Android.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/Messages.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Android.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/Messages.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListView.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/ChatUi.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageInput.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/AttachmentGallery.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/SearchView.kt
Labels: ui-components

#3211 [3193] Improve click ripple
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamRippleTheme.kt
Labels: compose

#3215 Cleanup after migrating UI to `OfflinePlugin`
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/internal/ChatClientStateCalls.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/BaseMessageListHeaderViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/ChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/GroupChatInfoViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/member/GroupChatInfoMemberOptionsViewModel.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/group/users/GroupChatInfoAddUsersViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/viewmodel/TypingIndicatorViewModel.kt
Labels: ui-components

#3221 [3220] Fix see more click handler
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/ImageAttachmentContent.kt
Labels: compose

#3226 [3188] Fix message options
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/SyncStatus.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_thread.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsView.kt
Labels: compose, ui-components

#3261 [2957] Fix code snippets links
  CHANGELOG.md
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListView.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/ChatUi.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageInput.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageList.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/AttachmentGallery.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/SearchView.kt
Labels: ui-components

#3260 [3259] Fix reactions in UI Components
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/internal/GiphyAttachmentViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsDialogFragment.kt
Labels: ui-components

#3264 [3262] Set start and end padding on the root layout in stream_ui_item…
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_link_attachment.xml
Labels: ui-components

#3270 Fix docusaurus for Jetpack Compose ChatTheme
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
Labels: compose

#3269 [3266] Disallow sending blank messages
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/internal/MessageInputFieldView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/internal/MessageTextValidator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/internal/TextValidator.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/message/input/internal/MessageTextValidatorTest.kt
Labels: compose, ui-components
