Repository GetStream/stream-chat-android, pull requests merged in 2022-04, with the labels that each got.

#3289 [2680] Improve message input attachments UX
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentPreviewContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/ImageAttachmentPreviewContent.kt
Labels: compose

#3294 [3253] Emerge integration
  .github/workflows/build-and-test.yml
  .github/workflows/pr-checks.yml
Labels: core

#3291 [3114] Migrate DB entities to new TypeConverter analyzer
  stream-chat-android-offline/build.gradle
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/converter/internal/QuerySortConverter.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/converter/internal/SetConverter.kt
Labels: core

#3300 [3295] Show video thumbnail in attachment picker
  CHANGELOG.md
  stream-chat-android-compose/build.gradle
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/attachments/images/ImagesPicker.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_video.xml
Labels: compose

#3288 [2166] Add support for attachment type configuration
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/StorageHelperWrapper.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#3306 Fixed Channel deserialization error
  CHANGELOG.md
  stream-chat-android-client/detekt-baseline.xml
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ChannelMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ChannelDtos.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/DownstreamChannelDtoAdapterTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/ChannelDtoTestData.kt
Labels: core

#3272 [3268] Fix avatars disappearing in message group after message deletion
  CHANGELOG.md
  DEPRECATIONS.md
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/detekt-baseline.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveData.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveDataBenchmark.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveDataTest.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
Labels: ui-components

#3315 [2917] Write Compose SDK Guidelines
  CHANGELOG.md
  README.md
  stream-chat-android-compose/GUIDELINES.md
Labels: compose

#3313 [3296] [Compose] Improve typing updates
  CHANGELOG.md
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
Labels: compose

#3301 [3236] Add failed and banned icon indicator customization options
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/avatar/AvatarView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/TextView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListItemStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemDecoratorProvider.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/FailedIndicatorDecorator.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/background/ShapeAppearanceModelFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/reactions/edit/internal/EditReactionsBubbleDrawer.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/reactions/view/internal/ViewReactionsBubbleDrawer.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/extensions/Channel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/extensions/Context.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_custom_attachments.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_file_attachments.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_giphy_attachment.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_image_attachment.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_link_attachment.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_message_plain_text.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_list_view.xml
Labels: ui-components

#3329 [3311] Fix process death issue in Compose sample app
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/BaseConnectedActivity.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/ChannelsActivity.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/MessagesActivity.kt
Labels: compose

#3334 [3326] Fix disabling commands
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
Labels: ui-components

#3336 [3325] Expose ImageLoader in ChatTheme
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
Labels: compose

#3335 Feat/2940 improve gesture handling inside image preview activity
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewContract.kt
  stream-chat-android-offline/detekt-baseline.xml
Labels: compose

#3305 [Compose] Integrate own capabilities into the UI
  docusaurus/docs/Android/04-compose/05-message-components/06-selected-message-menu.mdx
  docusaurus/docs/Android/04-compose/05-message-components/07-selected-reactions-menu.mdx
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/ChannelCapabilities.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/SelectedMessageState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/InputField.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/SuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/AboveAnchorPopupPositionProvider.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/util/extensions/ChannelCapabilities.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedMessageMenu.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedReactionsMenu.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/model/channel/ChannelData.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/String.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerState.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/ValidationError.kt
Labels: compose

#3333 [2297] [UI Components] Integrate own capabilities into the UI
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/String.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/viewmodel/MessageInputViewModelBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
  stream-chat-android-ui-components/src/main/res/values/strings_common.xml
  stream-chat-android-ui-components/src/main/res/values/strings_message_input.xml
Labels: ui-components

#3347 [2881] Fix wrong tint on reaction drawables
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/SupportedReactions.kt
Labels: ui-components

#3359 [2684] Added emoji sticker support to compose
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamTypography.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageItemStateUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessageUtils.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/EmojiUtil.kt
Labels: compose

#3374 Fix conditions for checking if instance already exists
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/internal/LogicRegistry.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/StateRegistry.kt
Labels: core

#3387 [2463] Update UI tests app icon
  stream-chat-android-ui-uitests/src/main/AndroidManifest.xml
  stream-chat-android-ui-uitests/src/main/ic_launcher-playstore.png
  stream-chat-android-ui-uitests/src/main/res/drawable/ic_launcher_foreground.xml
  stream-chat-android-ui-uitests/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  stream-chat-android-ui-uitests/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  stream-chat-android-ui-uitests/src/main/res/mipmap-hdpi/ic_launcher.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-hdpi/ic_launcher_round.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-mdpi/ic_launcher.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-mdpi/ic_launcher_round.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xhdpi/ic_launcher.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xxhdpi/ic_launcher.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  stream-chat-android-ui-uitests/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  stream-chat-android-ui-uitests/src/main/res/values/ic_launcher_background.xml
Labels: compose, ui-components

#3391 [3390] Add possibility to run snapshot tests in isolation
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/extensions/internal/TextView.kt
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/src/androidTest/AndroidManifest.xml
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/TestFilter.kt
  stream-chat-android-ui-uitests/src/main/AndroidManifest.xml
Labels: compose, ui-components

#3398 [3394] Create sample snapshot test for Compose SDK
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-ui-uitests/api/stream-chat-android-ui-uitests.api
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/ReactionOptionsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/uicomponents/reactions/EditReactionsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/uicomponents/reactions/ViewReactionsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/uicomponents/search/SearchViewTest.kt
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/snapshot/uicomponents/reactions/ComponentBrowserEditReactionsFragment.kt
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/snapshot/uicomponents/reactions/ComponentBrowserUserReactionsFragment.kt
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/snapshot/uicomponents/reactions/ComponentBrowserViewReactionsFragment.kt
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/snapshot/uicomponents/search/ComponentBrowserSearchViewFragment.kt
Labels: compose

#3392 [3372] Add start/end padding customization support to MessageInputFie…
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_input_field.xml
  stream-chat-android-ui-components/src/main/res/values/dimens.xml
Labels: ui-components

#3395 [3368] Add ability to change MessageListHeaderView separator color
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/header/ChannelListHeaderView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/MessageListHeaderView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/header/MessageListHeaderViewStyle.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_channel_list_header_view.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_list_header_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_channel_list_header_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_list_header_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3408 Remove old UI vm unit tests
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModelTest.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModelTest.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/channel/list/viewmodel/ChannelListViewModelTest.kt
  stream-chat-android-ui-components/src/test/kotlin/io/getstream/chat/android/ui/message/list/header/viewmodel/MessageListHeaderViewModelTest.kt
Labels: ui-components

#3406 [3378] Create a dedicated environment for UI tests
  stream-chat-android-ui-uitests/detekt-baseline.xml
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/app/ChatApp.kt
  stream-chat-android-ui-uitests/src/main/java/io/getstream/chat/android/uitests/app/login/UserCredentials.kt
Labels: compose, ui-components

#3389 [2297] implement own capabilities in the UI
  CHANGELOG.md
  docusaurus/docs/Android/03-ui/06-guides/06-implementing-own-capabilities.mdx
  docusaurus/docs/Android/04-compose/05-message-components/06-selected-message-menu.mdx
  docusaurus/docs/Android/04-compose/05-message-components/07-selected-reactions-menu.mdx
  docusaurus/docs/Android/04-compose/07-guides/06-implementing-own-capabilities.mdx
  docusaurus/docs/Android/assets/own_capabilities_message_composer_empty_capabilities.png
  docusaurus/docs/Android/assets/own_capabilities_message_composer_with_capabilities.png
  docusaurus/docs/Android/assets/own_capabilities_message_input_view_empty_capabilities.png
  docusaurus/docs/Android/assets/own_capabilities_message_input_view_with_capabilities.png
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/ChannelCapabilities.kt
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/ui/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/SelectedMessageState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/InputField.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/SuggestionList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/AboveAnchorPopupPositionProvider.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/util/extensions/ChannelCapabilities.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedMessageMenu.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedReactionsMenu.kt
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/model/channel/ChannelData.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/detekt-baseline.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/String.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/MessageInputViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/composer/MessageComposerState.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/ValidationError.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/actions/internal/ChannelActionsViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/channel/list/adapter/viewholder/internal/ChannelViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/viewmodel/MessageInputViewModelBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/options/message/internal/MessageOptionsView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/viewmodel/MessageListViewModelBinding.kt
  stream-chat-android-ui-components/src/main/res/values/strings_common.xml
  stream-chat-android-ui-components/src/main/res/values/strings_message_input.xml
Labels: compose, ui-components

#3409 Deprecate `DeletedMessageListItemPredicate`
  CHANGELOG.md
  DEPRECATIONS.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/DeletedMessageListItemPredicate.kt
Labels: ui-components

#3419 [3418] fix unresponsive message input
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
Labels: ui-components

#3420 Fix updating own capabilities after receiving events
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/model/channel/ChannelData.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/channel/internal/ChannelLogic.kt
Labels: core

#3430 Fix overriding User image and name properties
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/SocketFactory.kt
Labels: core
