Repository GetStream/stream-chat-android, pull requests merged in 2022-12, with the labels that each got.

#4566 Update Video Integrations docs
  docusaurus/android_versioned_docs/version-5.x.x/02-client/06-guides/10-video-integrations/01-video-100ms.mdx
  docusaurus/android_versioned_docs/version-5.x.x/02-client/06-guides/10-video-integrations/02-video-agora.mdx
  docusaurus/docs/Android/02-client/06-guides/10-video-integrations/01-video-100ms.mdx
  docusaurus/docs/Android/02-client/06-guides/10-video-integrations/02-video-agora.mdx
Labels: docs

#4521 [4514] Update own capabilities guide
  docusaurus/docs/Android/04-compose/07-guides/06-implementing-own-capabilities.mdx
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/ImplementingOwnCapabilities.kt
Labels: docs, compose

#4510 [4453] Update XML Attachment Gallery Docs
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/05-utility-components/04-attachment-gallery.mdx
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_activity_menu_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_activity_menu_light.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_customization_example_options_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_customization_example_options_light.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_example1_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_example1_light.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_example2_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/attachment_gallery_example2_light.png
  docusaurus/docs/Android/03-ui/05-utility-components/04-attachment-gallery.mdx
  docusaurus/docs/Android/assets/attachment_activity_menu_dark.png
  docusaurus/docs/Android/assets/attachment_activity_menu_light.png
  docusaurus/docs/Android/assets/attachment_gallery_customization_example_dark.png
  docusaurus/docs/Android/assets/attachment_gallery_customization_example_light.png
  docusaurus/docs/Android/assets/attachment_gallery_customization_example_options_dark.png
  docusaurus/docs/Android/assets/attachment_gallery_customization_example_options_light.png
  docusaurus/docs/Android/assets/attachment_gallery_example1_dark.png
  docusaurus/docs/Android/assets/attachment_gallery_example1_light.png
  docusaurus/docs/Android/assets/attachment_gallery_example2_dark.png
  docusaurus/docs/Android/assets/attachment_gallery_example2_light.png
Labels: docs, ui-components

#4493 [4485] Update scrolling behavior guide
  docusaurus/docs/Android/03-ui/06-guides/09-customizing-message-list-scroll-behavior.mdx
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/CustomizingScrollBehavior.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/CustomizingScrollBehavior.kt
Labels: docs, ui-components

#4491 [4443] Update custom attachments guide
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/06-guides/08-adding-custom-attachments-message-input.mdx
  docusaurus/docs/Android/03-ui/06-guides/08-adding-custom-attachments.mdx
  docusaurus/docs/Android/03-ui/06-guides/09-adding-custom-attachments-message-composer.mdx
  docusaurus/docs/Android/assets/quoted_attachment_final_v2.png
  docusaurus/docs/Android/assets/rendering_custom_attachments_v2.png
  docusaurus/docs/Android/assets/sending_custom_attachments_v2_1.png
  docusaurus/docs/Android/assets/sending_custom_attachments_v2_2.png
  docusaurus/docs/Android/assets/sending_custom_attachments_v2_3.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/AddingCustomAttachments.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/AddingCustomAttachments.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/AttachmentPreviewFactoryManager.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/factory/QuotedDateAttachmentFactory.kt
  stream-chat-android-ui-guides/src/main/res/layout/custom_message_composer_leading_content.xml
Labels: docs, ui-components

#4562 [4536] Update channel list header docs
  docusaurus/docs/Android/04-compose/04-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_list_header_component.png
  docusaurus/docs/Android/assets/compose_default_channel_list_header_component.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelListHeader.kt
Labels: docs, compose

#4559 [4392] Update channels screen page
  docusaurus/docs/Android/04-compose/04-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/assets/compose_default_channels_screen_actions_component.png
  docusaurus/docs/Android/assets/compose_default_channels_screen_list_component.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelsScreen.kt
Labels: docs, compose

#4576 [4532] Update `SelectedReactionsMenu` documentation
  docusaurus/android_versioned_docs/version-5.x.x/04-compose/05-message-components/07-selected-reactions-menu.mdx
  docusaurus/docs/Android/04-compose/05-message-components/07-selected-reactions-menu.mdx
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_custom_header_slot.png
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_custom_header_slot_dark.png
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_shape_and_alignment.png
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_shape_and_alignment_dark.png
  docusaurus/docs/Android/assets/compose_default_selected_reactions_menu.png
  docusaurus/docs/Android/assets/compose_default_selected_reactions_menu_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/SelectedReactionsMenu.kt
Labels: docs, compose

#4502 [4465] Update theming docs
  docusaurus/docs/Android/03-ui/02-general-customization/01-theming.mdx
  docusaurus/docs/Android/assets/custom_activity_theme.png
  docusaurus/docs/Android/assets/custom_messages.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/Theming.kt
  stream-chat-android-ui-components-sample/src/main/AndroidManifest.xml
  stream-chat-android-ui-components-sample/src/main/res/values-v23/themes.xml
Labels: docs, ui-components

#4520 [4515] Update custom reactions guide
  docusaurus/docs/Android/04-compose/07-guides/07-providing-custom-reactions.mdx
  docusaurus/docs/Android/assets/compose_custom_reactions_factory_message_list.png
  docusaurus/docs/Android/assets/compose_custom_reactions_factory_selected_message_menu.png
  docusaurus/docs/Android/assets/compose_custom_reactions_factory_selected_message_menu_before.png
  docusaurus/docs/Android/assets/compose_custom_reactions_factory_selected_message_menu_before_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/ProvidingCustomReactions.kt
  stream-chat-android-ui-guides/detekt-baseline.xml
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customreactions/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customreactions/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, compose

#4577 [4533] Update `ReactionsPicker` docs
  docusaurus/android_versioned_docs/version-5.x.x/04-compose/05-message-components/08-reactions-picker.mdx
  docusaurus/docs/Android/04-compose/05-message-components/08-reactions-picker.mdx
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component.png
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component_dark.png
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component_with_custom_content.png
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component_with_custom_content_dark.png
  docusaurus/docs/Android/assets/compose_default_reactions_picker_component.png
  docusaurus/docs/Android/assets/compose_default_reactions_picker_component_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/ReactionsPicker.kt
Labels: docs, compose

#4500 [4455] Update custom composer guide
  docusaurus/docs/Android/03-ui/06-guides/03-custom-message-composer.mdx
  docusaurus/docs/Android/assets/custom-message-input-layout.png
  docusaurus/docs/Android/assets/custom_message_composer.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/CreatingCustomMessageComposer.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/CreatingCustomMessageComposer.kt
  stream-chat-android-docs/src/main/res/layout/view_custom_message_composer.xml
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customcomposer/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customcomposer/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customcomposer/widget/CustomMessageComposerView.kt
  stream-chat-android-ui-guides/src/main/res/layout/activity_custom_message_composer.xml
  stream-chat-android-ui-guides/src/main/res/layout/view_custom_message_composer.xml
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, ui-components

#4569 [4538] Update channel item page
  docusaurus/docs/Android/04-compose/04-channel-components/04-channel-item.mdx
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/channels/ChannelItem.kt
Labels: docs, compose

#4588 [4587] Compose Overview docs update
  docusaurus/android_versioned_docs/version-5.x.x/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/assets/compose_channels_screen_example.png
  docusaurus/docs/Android/assets/compose_channels_screen_example_dark.png
  docusaurus/docs/Android/assets/compose_messages_screen_example.png
  docusaurus/docs/Android/assets/compose_messages_screen_example_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/Overview.kt
Labels: docs, compose

#4586 [4542] Update Custom Attachments Docs
  docusaurus/android_versioned_docs/version-5.x.x/04-compose/03-general-customization/02-attachment-factory.mdx
  docusaurus/docs/Android/04-compose/03-general-customization/02-attachment-factory.mdx
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/general/CustomAttachments.kt
Labels: docs, compose

#4570 [4507] Update rtl support page
  docusaurus/docs/Android/03-ui/02-general-customization/03-rtlsupport.mdx
  stream-chat-android-ui-components/src/main/res/drawable/stream_ui_ic_send_message.xml
Labels: docs, ui-components

#4572 [4530] Update attachments picker docs
  docusaurus/docs/Android/04-compose/05-message-components/05-attachments-picker.mdx
  docusaurus/docs/Android/assets/compose_custom_attachments_picker_component.png
  docusaurus/docs/Android/assets/compose_custom_attachments_picker_component_dark.png
  docusaurus/docs/Android/assets/compose_custom_attachments_picker_tabs.png
  docusaurus/docs/Android/assets/compose_custom_attachments_picker_tabs_dark.png
  docusaurus/docs/Android/assets/compose_default_attachments_picker_component.png
  docusaurus/docs/Android/assets/compose_default_attachments_picker_component_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/AttachmentsPicker.kt
Labels: docs, compose

#4565 [4563] Update `MessageComposer` docs
  docusaurus/docs/Android/04-compose/05-message-components/04-message-composer.mdx
  docusaurus/docs/Android/assets/compose_custom_message_composer_component.png
  docusaurus/docs/Android/assets/compose_default_message_composer_component.png
  docusaurus/docs/Android/assets/compose_default_message_composer_component_dark.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageComposer.kt
Labels: docs, compose

#4545 [4543] & [4529] - Add a channel avatar handler to `MessageListHeader` and update docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/05-message-components/02-message-list-header.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/messages/MessageListHeader.kt
Labels: docs

#4590 [4421] Update Configuration Docs
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/02-general-customization/02-chatui.mdx
  docusaurus/android_versioned_docs/version-5.x.x/assets/blue_gradients_avatars.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/blue_gradients_avatars_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/colorful_avatars.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/colorful_avatars_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/default_avatar.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/default_avatar_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/default_channel.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/default_channel_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/markdown_support.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/markdown_support_result.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/square_avatar.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/square_avatar_dark.png
  docusaurus/android_versioned_docs/version-5.x.x/assets/white_avatars.png
  docusaurus/docs/Android/03-ui/02-general-customization/02-chatui.mdx
  docusaurus/docs/Android/assets/chat_ui_custom_reaction.png
  docusaurus/docs/Android/assets/chat_ui_custom_reaction_active.png
  docusaurus/docs/Android/assets/chat_ui_custom_reaction_active_dark.png
  docusaurus/docs/Android/assets/chat_ui_custom_reaction_dark.png
  docusaurus/docs/Android/assets/chatui_default_reactions.png
  docusaurus/docs/Android/assets/chatui_default_reactions_dark.png
  docusaurus/docs/Android/assets/configuration_attachment_gallery_video_thumbs_disabled.png
  docusaurus/docs/Android/assets/configuration_attachment_gallery_video_thumbs_disabled_dark.png
  docusaurus/docs/Android/assets/configuration_attachment_gallery_video_thumbs_enabled.png
  docusaurus/docs/Android/assets/configuration_attachment_gallery_video_thumbs_enabled_dark.png
  docusaurus/docs/Android/assets/configuration_message_list_video_thumbs_disabled.png
  docusaurus/docs/Android/assets/configuration_message_list_video_thumbs_disabled_dark.png
  docusaurus/docs/Android/assets/configuration_message_list_video_thumbs_enabled.png
  docusaurus/docs/Android/assets/configuration_message_list_video_thumbs_enabled_dark.png
  docusaurus/docs/Android/assets/markdown_support.png
  docusaurus/docs/Android/assets/markdown_support_result.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/general/Configuration.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/Configuration.kt
Labels: docs, ui-components

#4525 [4513] Update custom attachments guide
  docusaurus/docs/Android/04-compose/07-guides/01-adding-custom-attachments.mdx
  docusaurus/docs/Android/assets/compose_custom_quoted_message_attachment_factory.png
  docusaurus/docs/Android/assets/compose_quoted_attachment_example.PNG
  docusaurus/docs/Android/assets/compose_quoted_attachment_example.png
  docusaurus/docs/Android/assets/compose_rendering_custom_attachments.png
  docusaurus/docs/Android/assets/compose_sending_custom_attachments.png
  docusaurus/docs/Android/assets/quoted_attachment.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/AddingCustomAttachments.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customattachments/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customattachments/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customattachments/factory/DateAttachmentFactory.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customattachments/factory/QuotedDateAttachmentFactory.kt
  stream-chat-android-ui-guides/src/main/res/values/themes.xml
Labels: docs, compose

#4592 [4315] Update reactions docs
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/02-general-customization/02-chatui.mdx
  docusaurus/docs/Android/03-ui/02-general-customization/02-chatui.mdx
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/general/Configuration.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/general/Configuration.kt
Labels: docs, ui-components

#4594 [4365] Video Thumbnails Guide Docs
  docusaurus/android_versioned_docs/version-5.x.x/04-compose/07-guides/01-adding-custom-attachments.mdx
  docusaurus/docs/Android/03-ui/04-message-components/02-message-list.mdx
  docusaurus/docs/Android/03-ui/06-guides/10-customizing-image-and-video-previews.mdx
  docusaurus/docs/Android/04-compose/07-guides/02-customizing-image-and-video-previews.mdx
  docusaurus/docs/Android/assets/message_list_video_thumbs_disabled.png
  docusaurus/docs/Android/assets/message_list_video_thumbs_disabled_dark.png
  docusaurus/docs/Android/assets/message_list_video_thumbs_enabled.png
  docusaurus/docs/Android/assets/message_list_video_thumbs_enabled_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_custom.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_custom_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_stock.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_stock_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_with_overview_custom.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_with_overview_custom_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_with_overview_stock.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_attachment_gallery_with_overview_stock_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_composer_custom.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_composer_custom_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_composer_stock.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_composer_stock_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_list_custom.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_list_custom_dark.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_list_stock.png
  docusaurus/docs/Android/assets/xml_customizing_image_and_video_attachments_message_list_stock_dark.png
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/gallery/AttachmentGalleryViewMediaStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/gallery/MediaAttachmentGridViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/MessageComposerViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/MediaAttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/list/adapter/view/MediaAttachmentViewStyle.kt
  stream-chat-android-ui-components/src/main/res/values/attrs.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_attachment_gallery_video_attachments.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_media_attachment_grid_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_media_attachment_view.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_composer_view.xml
Labels: docs, ui-components

#4597 [4085] Fix double processing of message composer inputs in certain cases
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/feature/messages/composer/MessageComposerController.kt
Labels: bug, compose, ui-components

#4599 [4598] Enable Downloading Attachments Without Valid Name or Title Properties
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Attachment.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/extensions/internal/Attachment.kt
Labels: core
