Repository GetStream/stream-chat-android, pull requests merged in 2022-05, with the labels that each got.

#3441 [3439] Don't expose Coil ImageLoader in ChatTheme
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/DefaultStreamCoilImageLoader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessagePreviewFormatter.kt
Labels: compose

#3412 [3373] Added commandsButton and attachmentsButton ripple customisation
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/extensions/View.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_input.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_input_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3445 [3432] Fix duplicate font
  CHANGELOG.md
  stream-chat-android-ui-common/src/main/res/font/stream_roboto_bold.ttf
  stream-chat-android-ui-common/src/main/res/font/stream_roboto_medium.ttf
  stream-chat-android-ui-common/src/main/res/font/stream_roboto_regular.ttf
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/GiphyViewHolderStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListItemStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageReplyStyle.kt
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3440 [3426] Provide fake images for snapshot tests
  stream-chat-android-ui-uitests/api/stream-chat-android-ui-uitests.api
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/UserAvatarTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/uicomponents/UserAvatarTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/FakeImageLoader.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/util/TestUsers.kt
  stream-chat-android-ui-uitests/src/main/res/drawable/avatar_amit.jpeg
  stream-chat-android-ui-uitests/src/main/res/drawable/avatar_filip.jpeg
  stream-chat-android-ui-uitests/src/main/res/drawable/avatar_jc.jpeg
  stream-chat-android-ui-uitests/src/main/res/drawable/avatar_rafal.jpeg
  stream-chat-android-ui-uitests/src/main/res/drawable/avatar_user.xml
  stream-chat-android-ui-uitests/src/main/res/layout/view_avatar.xml
Labels: compose, ui-components

#3446 Improve KDocs for ChatClient::connectUser methods
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/token/TokenProvider.kt
Labels: core

#3433 [3276] Message grouping with delay
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/list/MessageListItemState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/MessageReadStatusIcon.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageFooter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ChannelUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/detekt-baseline.xml
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/adapter/MessageListItem.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/Message.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/MessageFooterVisibility.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveData.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageFooterVisibility.kt
  stream-chat-android-ui-common/src/test/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListItemLiveDataTest.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatFragment.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/info/shared/ChatInfoSharedAttachmentsViewModel.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/DefaultShowAvatarPredicate.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/MessageListItemPayloadDiff.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemDecoratorProvider.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemDiffCallback.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/FootnoteView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/FootnoteDecorator.kt
Labels: compose, ui-components

#3451 [3449] Create script to run emulator locally
  .github/workflows/snapshot-record.yaml
  .github/workflows/snapshot-tests.yaml
  scripts/emulator_create.sh
  scripts/emulator_start.sh
  scripts/snapshot_record.sh
  scripts/snapshot_test.sh
  stream-chat-android-ui-uitests/build.gradle
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.ReactionOptionsTest_reactionOptions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.UserAvatarTest_testChannelAvatar.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.UserAvatarTest_testUserAvatar.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.UserAvatarTest_testChannelAvatar.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.UserAvatarTest_testUserAvatar.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.EditReactionsTest_reactionsTestWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithFiveReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithOnlyUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithSomeUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.search.SearchViewTest_testVeryLongSearch.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.search.SearchViewTest_testWithNoCustomizations.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.reactions.EditReactionsTest_reactionsTestWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.reactions.ViewReactionsTest_viewReactionsWithFiveReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.reactions.ViewReactionsTest_viewReactionsWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.reactions.ViewReactionsTest_viewReactionsWithOnlyUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.reactions.ViewReactionsTest_viewReactionsWithSomeUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.search.SearchViewTest_testVeryLongSearch.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.ui.uitests.search.SearchViewTest_testWithNoCustomizations.png
Labels: compose, ui-components

#3470 Fix sorting channels by Channel::lastMessageAt
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/internal/ChannelMapper.kt
Labels: core

#3367 [3320] support membership property
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/MoshiChatApi.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ChannelMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/EventMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ChannelDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/EventDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/response/ChannelResponse.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/events/ChatEvent.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/Channel.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/EventChatJsonProvider.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser/EventArguments.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/ChannelDtoTestData.kt
  stream-chat-android-compose-sample/src/main/AndroidManifest.xml
  stream-chat-android-compose-sample/src/main/res/xml/network_security_config.xml
  stream-chat-android-offline/api/stream-chat-android-offline.api
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/internal/Channel.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/model/channel/ChannelData.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/converter/internal/MemberConverter.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/internal/ChatDatabase.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/internal/ChannelEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/channel/internal/ChannelMapper.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/Mother.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/utils/TestDataHelper.kt
  stream-chat-android-ui-components-sample/src/main/AndroidManifest.xml
  stream-chat-android-ui-components-sample/src/main/res/xml/network_security_config.xml
Labels: core, squash-and-merge

#3463 [3452] Create a guide that helps users choose between the two UI SDKs
  docusaurus/docs/Android/01-basics/02-choosing-the-correct-sdk.mdx
  docusaurus/docs/Android/01-basics/03-dependencies.mdx
  docusaurus/docs/Android/01-basics/05-core-concepts.mdx
  docusaurus/docs/Android/01-basics/06-getting-started.mdx
  docusaurus/docs/Android/01-basics/06-logging.mdx
  docusaurus/docs/Android/assets/choosing_the_correct_sdk_channel_list_fling_compose_cpu_load.png
  docusaurus/docs/Android/assets/choosing_the_correct_sdk_channel_list_fling_ui_components_cpu_load.png
  docusaurus/docs/Android/assets/choosing_the_correct_sdk_message_list_fling_compose_cpu_load.png
  docusaurus/docs/Android/assets/choosing_the_correct_sdk_message_list_fling_ui_components_cpu_load.png
  docusaurus/docs/Android/assets/choosing_the_correct_sdk_message_list_header_slots.png
Labels: compose, ui-components

#3492 Fix refreshing channels list when syncing the channel
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/querychannels/internal/QueryChannelsLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/StateRegistry.kt
Labels: core

#3491 [3255] Fix Xiaomi long click on link crash
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/common/internal/LongClickFriendlyLinkMovementMethod.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/Manufacturer.kt
Labels: ui-components

#3499 [3498] ChatClient.Builder.build method is not accessible from Java
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
Labels: core

#3500 Fix checking if the channel is active
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/StateRegistry.kt
Labels: core

#3515 [3515] Enable Command Shortcuts
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/input/MessageInputView.kt
Labels: feature request, ui-components

#3472 [2238] Improve Quoted Messages
  CHANGELOG.md
  DEPRECATIONS.md
  docusaurus/docs/Android/04-compose/07-guides/01-adding-custom-attachments.mdx
  docusaurus/docs/Android/assets/compose_custom_quoted_message_attachment_factory.png
  docusaurus/docs/Android/assets/compose_quoted_attachment_example.PNG
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/MessagesState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/StreamAttachmentFactories.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/FileAttachmentQuotedContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/ImageAttachmentQuotedContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/QuotedMessageAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/factory/QuotedAttachmentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageContainer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/Messages.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/AttachmentsUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/TextUtils.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/AddingCustomAttachments.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/extensions/ChatClient.kt
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/utils/extensions/Message.kt
Labels: compose

#3516 [3462] Snapshot tests on CI
  .github/workflows/snapshot-record.yaml
  .github/workflows/snapshot-tests.yaml
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.channels.ChannelListHeaderViewTest_channelListHeaderForConnectingState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.channels.ChannelListViewTest_channelListWithLoadingState.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.EditReactionsTest_reactionsTestWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithFiveReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithNoCustomization.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithOnlyUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.reactions.ViewReactionsTest_viewReactionsWithSomeUnsupportedReactions.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.uicomponents.search.SearchViewTest_testVeryLongSearch.png
  stream-chat-android-ui-uitests/src/main/res/layout/fragment_component_browser_edit_reactions_view.xml
  stream-chat-android-ui-uitests/src/main/res/layout/fragment_component_browser_view_reactions_view.xml
Labels: compose, ui-components

#3531 Improve QueryChannelsState::channels initial value
  CHANGELOG.md
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/chat/ChatEventHandler.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/chat/DefaultChatEventHandler.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/chat/NonMemberChatEventHandler.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/chat/factory/ChatEventHandlerFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/logic/querychannels/internal/QueryChannelsLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/querychannels/QueryChannelsState.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/state/querychannels/internal/QueryChannelsMutableState.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/list/CustomEventHandler.kt
Labels: core

#3548 Fix syncing the channel after restoring app from background
  CHANGELOG.md
  stream-chat-android-offline/detekt-baseline.xml
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/factory/StreamOfflinePluginFactory.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/plugin/internal/OfflinePlugin.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/sync/internal/SyncManager.kt
Labels: core

#3534 [3533] fix chat parser always parsing from a raw response
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/SocketErrorMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/response/SocketErrorResponse.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/call/RetrofitCall.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/parser/ChatParser.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/ErrorResponse.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/utils/RetroError.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/handler/internal/EventHandlerImpl.kt
Labels: core

#3552 [Chore] Fix a link that was redirecting to localhost instead of the g…
  docusaurus/docs/Android/01-basics/02-choosing-the-correct-sdk.mdx
Labels: docs

#3549 [3539] Show progress bar when a video is loading
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/MediaPreviewActivity.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentMediaActivity.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_activity_attachment_media.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_media_activity.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: compose, ui-components

#3580 [3579] Use develop branch for snapshot tests
  .github/workflows/clean-detekt-baseline.yaml
  .github/workflows/no-response.yml
  .github/workflows/snapshot-record.yaml
  .github/workflows/snapshot-tests.yaml
Labels: compose, ui-components

#3598 [3479] Fix one-to-one channel avatar
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ChannelAvatar.kt
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.channels.ChannelItemTest_channelItemWithoutCurrentUser.png
  stream-chat-android-ui-uitests/screenshots/debug/io.getstream.chat.android.uitests.snapshot.compose.components.ChannelAvatarTest_channelAvatarForChannelWithoutCurrentUser.png
Labels: compose

#3596 [3508] Add additional padding to InputField
  CHANGELOG.md
  DEPRECATIONS.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/SearchInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/InputField.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
Labels: compose

#3599 [3481] Remove loading more background
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/LoadingIndicator.kt
Labels: compose

#3589 [3588] Reduce the amount of boilerplate in snapshot tests
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/ComposeScreenshotTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/channels/ChannelItemTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/channels/ChannelListHeaderTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/channels/ChannelListTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/channels/SelectedChannelMenuTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/ChannelAvatarTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/MessageReadStatusIconTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/ReactionOptionsTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/UnreadCountIndicatorTest.kt
  stream-chat-android-ui-uitests/src/androidTest/java/io/getstream/chat/android/uitests/snapshot/compose/components/UserAvatarTest.kt
Labels: compose

#3592 Feature/3568 xml quoted attachement
  CHANGELOG.md
  docusaurus/docs/Android/03-ui/06-guides/08-adding-custom-attachments.mdx
  docusaurus/docs/Android/assets/quoted_attachment.png
  docusaurus/docs/Android/assets/quoted_attachment_final.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/AddingCustomAttachments.kt
  stream-chat-android-docs/src/main/res/layout/view_quoted_date_attachment.xml
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/ChatUI.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/TransformStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/DefaultQuotedAttachmentViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/DefaultQuotedAttachmentView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/MessageReplyView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/DefaultQuotedAttachmentMessageFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/QuotedAttachmentFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/attachment/QuotedAttachmentFactoryManager.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/decorator/internal/ReplyDecorator.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_reply_view.xml
  stream-chat-android-ui-components/src/main/res/values/dimens.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components

#3610 Feature/merge connect user with connect anonymous
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/ChatSocket.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/socket/SocketFactory.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/user/CredentialConfig.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/user/storage/SharedPreferencesCredentialStorage.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/ConnectUsersTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/api/ClientConnectionTests.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenConnectUser.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenReconnectSocket.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/socket/ChatSocketTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/socket/SocketFactoryTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/utils/observable/FakeSocket.kt
Labels: core

#3618 [3496] Fix upload progress text getting ellipsized
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/view/internal/FileAttachmentsView.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_file_attachment.xml
Labels: ui-components
