Repository GetStream/stream-chat-android, pull requests merged in 2022-11, with the labels that each got.

#4293 [4256] Fix low contrast for show more media attachments count
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/content/MediaAttachmentContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
  stream-chat-android-compose/src/main/res/values/colors.xml
Labels: compose

#4335 [4326] Fix text color in quoted messages
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInput.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessageText.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamColors.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/TextUtils.kt
  stream-chat-android-ui-components/detekt-baseline.xml
Labels: compose

#4349 [4297] V5 Make attachment equality comparisons based on shortened links
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/com/getstream/sdk/chat/viewmodel/messages/MessageListViewModel.kt
Labels: compose, ui-components

#4348 [4297] V6 Make attachment equality comparisons based on shortened links
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/feature/messages/list/MessageListController.kt
Labels: compose, ui-components

#4338 [4140] Replace Dexter
  CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/handlers/PermissionHandler.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/MissingPermissionContent.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/notifications/permissions/SnackbarNotificationPermissionHandler.kt
  stream-chat-android-ui-components/build.gradle
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/PermissionChecker.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/extensions/View.kt
  stream-chat-android-ui-utils/api/stream-chat-android-ui-utils.api
  stream-chat-android-ui-utils/src/main/kotlin/io/getstream/chat/android/uiutils/util/IntentUtils.kt
Labels: ui-components

#4390 [4385] Update message list screen docs
  docusaurus/docs/Android/03-ui/04-message-components/01-message-list-screen.mdx
  docusaurus/docs/Android/assets/message_list_screen.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/messages/MessageListScreen.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageListScreen.kt
Labels: docs

#4423 [4422] Improve file uploader
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/models/UploadedImage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/ImagePreviewActivity.kt
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/client/helpers/MyFileUploader.java
  stream-chat-android-state/src/main/java/io/getstream/chat/android/offline/message/attachments/internal/AttachmentUploader.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/gallery/AttachmentGalleryActivity.kt
Labels: ui-components, core

#4394 [4393] Update channel list screen docs
  docusaurus/docs/Android/03-ui/03-channel-components/01-channel-list-screen.mdx
  docusaurus/docs/Android/assets/channel_list_screen.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/channels/ChannelListScreen.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListScreen.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/channels/ChannelListActivity.kt
Labels: docs, ui-components

#4405 [4397] Update message list header page
  docusaurus/docs/Android/03-ui/04-message-components/03-message-list-header.mdx
  docusaurus/docs/Android/assets/message_list_header.png
  docusaurus/docs/Android/assets/message_list_header_customization.png
  docusaurus/docs/Android/assets/message_list_header_dark.png
  docusaurus/docs/Android/assets/message_list_header_waiting_for_network.png
  docusaurus/docs/Android/assets/message_list_header_waiting_for_network_dark.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/messages/MessageListHeader.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageListHeader.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/viewmodel/channels/ChannelListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/viewmodel/messages/MessageListHeaderViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/viewmodel/typing/TypingIndicatorViewModel.kt
Labels: docs, ui-components

#4396 [4395] `V6` Don't show link attachments in the attachment galleries
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/MediaGalleryPreviewActivity.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/list/MessageListView.kt
Labels: compose, ui-components

#4417 [4413] Update custom reactions guide
  docusaurus/docs/Android/03-ui/06-guides/07-providing-custom-reactions.mdx
  docusaurus/docs/Android/assets/custom_reactions_message_list.png
  docusaurus/docs/Android/assets/custom_reactions_message_options_overlay.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/ProvidingCustomReactions.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/helper/SupportedReactions.kt
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/ChatUI.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customreactions/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/res/drawable/ic_mood_bad.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_mood_bad_selected.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_mood_good.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_mood_good_selected.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_thumb_down.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_thumb_down_selected.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_thumb_up.xml
  stream-chat-android-ui-guides/src/main/res/drawable/ic_thumb_up_selected.xml
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, ui-components

#4419 [4409] Update channel list header docs
  docusaurus/docs/Android/03-ui/03-channel-components/03-channel-list-header.mdx
  docusaurus/docs/Android/assets/channels_header.png
  docusaurus/docs/Android/assets/channels_header_after_customization.png
  docusaurus/docs/Android/assets/channels_header_dark.png
  docusaurus/docs/Android/assets/channels_header_waiting_for_network.png
  docusaurus/docs/Android/assets/channels_header_waiting_for_network_dark.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/channels/ChannelListHeader.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelListHeader.kt
Labels: docs, ui-components

#4436 [4431] Update app startup initialiers guide
  docusaurus/docs/Android/03-ui/06-guides/05-app-startup-initializers.mdx
Labels: docs, ui-components

#4435 [4197] remove StateAwarePlugin
  CHANGELOG.md
  stream-chat-android-state/api/stream-chat-android-state.api
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/internal/StateAwarePlugin.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/internal/StatePlugin.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/sync/internal/SyncMessagesWork.kt
Labels: core

#4458 [4451] Update pinned message list docs
  docusaurus/docs/Android/03-ui/01-overview.mdx
  docusaurus/docs/Android/03-ui/05-utility-components/02-pinned-message-list.mdx
  docusaurus/docs/Android/assets/pinned_message_list_view_dark.png
  docusaurus/docs/Android/assets/pinned_message_list_view_light.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/utility/PinnedMessageList.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/PinnedMessageList.kt
Labels: docs, ui-components

#4462 [4456] Update localization docs
  docusaurus/docs/Android/03-ui/06-guides/04-custom-translations.mdx
  docusaurus/docs/Android/assets/custom_translations_english.png
  docusaurus/docs/Android/assets/custom_translations_italian.png
Labels: docs, ui-components

#4380 Update compose MessageList docs
  docusaurus/docs/Android/04-compose/05-message-components/03-message-list.mdx
Labels: docs, compose

#4461 [4454] Update own capabilities docs
  docusaurus/docs/Android/03-ui/06-guides/06-implementing-own-capabilities.mdx
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/ImplementingOwnCapabilities.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/ImplementingOwnCapabilities.kt
Labels: docs, ui-components

#4459 [4450] Update mention list docs
  docusaurus/docs/Android/01-basics/01-overview.mdx
  docusaurus/docs/Android/01-basics/04-getting-started.mdx
  docusaurus/docs/Android/02-client/06-guides/02-handling-user-connection.mdx
  docusaurus/docs/Android/03-ui/01-overview.mdx
  docusaurus/docs/Android/03-ui/03-channel-components/02-channel-list.mdx
  docusaurus/docs/Android/03-ui/05-utility-components/01-mention-list.mdx
  docusaurus/docs/Android/04-compose/04-channel-components/03-channel-list.mdx
  docusaurus/docs/Android/assets/mentions_list_view_dark.png
  docusaurus/docs/Android/assets/mentions_list_view_light.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/utility/MentionList.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/utility/MentionList.kt
Labels: docs, ui-components

#4425 [4411] Update building channels screen guide
  docusaurus/docs/Android/03-ui/06-guides/01-building-channel-list-screen.mdx
  docusaurus/docs/Android/assets/channel_list_view_dark.png
  docusaurus/docs/Android/assets/channel_list_view_light.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/BuildingAChannelListScreen.java
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/channelsscreen/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/res/layout/activity_building_channels_screen.xml
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, ui-components

#4386 [4381] `MessageComposerView` video previews
  CHANGELOG.md
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/AddingCustomAttachments.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/detekt-baseline.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/MessageComposerViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/AttachmentPreviewFactoryManager.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/AttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/FallbackAttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/FileAttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/ImageAttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/preview/factory/MediaAttachmentPreviewFactory.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/content/DefaultMessageComposerCenterContent.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_media_attachment_preview.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_composer_view.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/customattachments/factory/DateAttachmentPreviewFactory.kt
Labels: ui-components

#4373 [4365] Add Video Thumbnails Docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-general-customization/01-chat-theme.mdx
  docusaurus/docs/Android/04-compose/05-message-components/03-message-list.mdx
  docusaurus/docs/Android/04-compose/07-guides/02-customizing-image-and-video-previews.mdx
  docusaurus/docs/Android/assets/compose_customizing_image_and_video_attachments_custom.png
  docusaurus/docs/Android/assets/compose_customizing_image_and_video_attachments_stock.png
  docusaurus/docs/Android/assets/compose_message_list_stock_media_attachments.png
  docusaurus/docs/Android/assets/compose_message_list_stock_media_attachments_video_thumbnails_disabled.png
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/ChatTheme.kt
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/guides/CustomizingImageAndVideoPreviews.kt
  stream-chat-android-ui-guides/detekt-baseline.xml
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customizingimageandvideoattachments/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customizingimageandvideoattachments/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customizingimageandvideoattachments/factory/multimediaAttachmentFactory.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/compose/customizingimageandvideoattachments/ui/CustomPlayButton.kt
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, compose

#4430 [4412] Update building messages screen guide
  docusaurus/docs/Android/03-ui/06-guides/02-building-message-list-screen.mdx
  docusaurus/docs/Android/assets/chat_view_dark.png
  docusaurus/docs/Android/assets/chat_view_light.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/guides/BuildingAMessageListScreen.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/guides/BuildingAMessageListScreen.kt
  stream-chat-android-ui-guides/src/main/AndroidManifest.xml
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/CatalogActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/messagesscreen/ChannelsActivity.kt
  stream-chat-android-ui-guides/src/main/java/io/getstream/chat/android/guides/catalog/uicomponents/messagesscreen/MessagesActivity.kt
  stream-chat-android-ui-guides/src/main/res/layout/activity_building_messages_screen.xml
  stream-chat-android-ui-guides/src/main/res/values/strings.xml
Labels: docs, ui-components

#4427 [4410] Update message composer docs
  CHANGELOG.md
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/04-message-components/05-message-composer.mdx
  docusaurus/docs/Android/03-ui/04-message-components/04-message-composer.mdx
  docusaurus/docs/Android/assets/message_composer.png
  docusaurus/docs/Android/assets/message_composer_custom_slot_1.png
  docusaurus/docs/Android/assets/message_composer_custom_slot_2.png
  docusaurus/docs/Android/assets/message_composer_dark.png
  docusaurus/docs/Android/assets/message_composer_whole_screen.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/messages/MessageComposer.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageComposer.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/state/messages/MessageMode.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/channel/add/AddChannelFragment.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/viewmodel/messages/MessageComposerViewModel.kt
Labels: docs, ui-components

#4517 [4504] Update user avatar docs
  docusaurus/docs/Android/04-compose/06-utility-components/01-user-avatar.mdx
  docusaurus/docs/Android/assets/compose_custom_user_avatar_component.png
  docusaurus/docs/Android/assets/compose_default_user_avatar_component.png
Labels: docs, compose

#4518 [4505] Update channel avatar docs
  docusaurus/docs/Android/04-compose/06-utility-components/02-channel-avatar.mdx
  docusaurus/docs/Android/assets/compose_custom_channel_avatar_component.png
  docusaurus/docs/Android/assets/compose_default_channel_avatar_component.png
Labels: docs, compose

#4519 [4506] Update search input docs
  docusaurus/docs/Android/04-compose/06-utility-components/03-search-input.mdx
  docusaurus/docs/Android/assets/compose_custom_search_input_component.png
  docusaurus/docs/Android/assets/compose_default_search_input_component.png
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/compose/utility/SearchInput.kt
Labels: docs, compose

#4420 [4407] Update MessageList Docs XML
  docusaurus/android_versioned_docs/version-5.x.x/03-ui/04-message-components/02-message-list.mdx
  docusaurus/docs/Android/03-ui/04-message-components/02-message-list.mdx
  docusaurus/docs/Android/assets/message_lis_custom_empty_state.png
  docusaurus/docs/Android/assets/message_list_custom_vh_factory.png
  docusaurus/docs/Android/assets/message_list_options_after.png
  docusaurus/docs/Android/assets/message_list_options_before.png
  docusaurus/docs/Android/assets/message_list_show_avatar_predicate_custom.png
  docusaurus/docs/Android/assets/message_list_show_avatar_predicate_default.png
  docusaurus/docs/Android/assets/message_list_view_overview_dark.png
  docusaurus/docs/Android/assets/message_list_view_overview_light.png
  docusaurus/docs/Android/assets/message_options_dark.png
  docusaurus/docs/Android/assets/message_options_light.png
  docusaurus/docs/Android/assets/message_style_programmatically_fab_after.png
  docusaurus/docs/Android/assets/message_style_programmatically_fab_before.png
  docusaurus/docs/Android/assets/message_style_programmatically_message_after.png
  docusaurus/docs/Android/assets/message_style_programmatically_message_before.png
  docusaurus/docs/Android/assets/message_style_xml_dark.png
  docusaurus/docs/Android/assets/message_style_xml_light.png
  docusaurus/docs/Android/assets/messages_at_the_bottom.png
  docusaurus/docs/Android/assets/messages_at_the_top.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/messages/MessageList.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/messages/MessageList.kt
Labels: docs, ui-components

#4546 [4393] Update channel list screen screenshots
  docusaurus/docs/Android/03-ui/03-channel-components/01-channel-list-screen.mdx
  docusaurus/docs/Android/assets/channel_list_screen.png
Labels: docs, ui-components

#4547 [4409] Update channel list header screenshots
  docusaurus/docs/Android/assets/channels_header.png
  docusaurus/docs/Android/assets/channels_header_after_customization.png
  docusaurus/docs/Android/assets/channels_header_dark.png
  docusaurus/docs/Android/assets/channels_header_waiting_for_network.png
  docusaurus/docs/Android/assets/channels_header_waiting_for_network_dark.png
Labels: docs, ui-components

#4548 [4385] Update message list screen screenshots
  docusaurus/docs/Android/03-ui/04-message-components/01-message-list-screen.mdx
  docusaurus/docs/Android/assets/message_list_screen.png
Labels: docs, ui-components

#4549 [4397] Update message list header screenshots
  docusaurus/docs/Android/assets/message_list_header.png
  docusaurus/docs/Android/assets/message_list_header_customization.png
  docusaurus/docs/Android/assets/message_list_header_dark.png
  docusaurus/docs/Android/assets/message_list_header_waiting_for_network.png
  docusaurus/docs/Android/assets/message_list_header_waiting_for_network_dark.png
Labels: docs, ui-components

#4550 [4410] Update message composer screenshots
  docusaurus/docs/Android/assets/message_composer.png
  docusaurus/docs/Android/assets/message_composer_custom_attribute.png
  docusaurus/docs/Android/assets/message_composer_custom_slot_1.png
  docusaurus/docs/Android/assets/message_composer_custom_slot_2.png
  docusaurus/docs/Android/assets/message_composer_dark.png
  docusaurus/docs/Android/assets/message_composer_whole_screen.png
Labels: docs, ui-components

#4551 [4451] Update pinned message list screenshots
  docusaurus/docs/Android/assets/pinned_message_list_view_dark.png
  docusaurus/docs/Android/assets/pinned_message_list_view_light.png
Labels: docs, ui-components

#4552 [4450] Update mention list screenshots
  docusaurus/docs/Android/assets/mentions_list_view_dark.png
  docusaurus/docs/Android/assets/mentions_list_view_light.png
Labels: docs, ui-components

#4554 [4411] Update building channels screen screenshots
  docusaurus/docs/Android/assets/channel_list_view_dark.png
  docusaurus/docs/Android/assets/channel_list_view_light.png
Labels: docs, ui-components

#4553 [4452] Update search view screenshots
  docusaurus/docs/Android/assets/search_view_hey_dark.png
  docusaurus/docs/Android/assets/search_view_hey_light.png
Labels: docs, ui-components

#4555 [4412] Update building messages screen screenshots
  docusaurus/docs/Android/assets/chat_view_dark.png
  docusaurus/docs/Android/assets/chat_view_light.png
Labels: docs, ui-components

#4556 [4456] Update localization screenshots
  docusaurus/docs/Android/assets/custom_translations_english.png
  docusaurus/docs/Android/assets/custom_translations_italian.png
Labels: docs, ui-components

#4557 [4454] Update own capabilities screenshots
  docusaurus/docs/Android/03-ui/06-guides/06-implementing-own-capabilities.mdx
Labels: docs, ui-components

#4558 [4413] Update custom reactions screenshots
  docusaurus/docs/Android/03-ui/06-guides/07-providing-custom-reactions.mdx
  docusaurus/docs/Android/assets/custom_reactions_message_list.png
  docusaurus/docs/Android/assets/custom_reactions_message_options_overlay.png
  docusaurus/docs/Android/assets/custom_reactions_message_options_overlay_before.png
Labels: docs, ui-components

#4463 [4408] Update channel list docs
  docusaurus/docs/Android/03-ui/03-channel-components/02-channel-list.mdx
  docusaurus/docs/Android/assets/channel_action_dark.png
  docusaurus/docs/Android/assets/channel_action_light.png
  docusaurus/docs/Android/assets/channel_list_shimmer.png
  docusaurus/docs/Android/assets/channel_list_view_component_swipe_actions.png
  docusaurus/docs/Android/assets/channel_list_view_component_swipe_actions_dark.png
  docusaurus/docs/Android/assets/channel_list_view_style_after.png
  docusaurus/docs/Android/assets/channel_list_view_style_before.png
  docusaurus/docs/Android/assets/custom_view_holder.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/channels/ChannelList.java
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/channels/ChannelListViewSnippets.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/channels/ChannelList.kt
  stream-chat-android-docs/src/main/res/layout/custom_channel_list_item.xml
  stream-chat-android-docs/src/main/res/values/strings.xml
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/widgets/avatar/ChannelAvatarView.kt
Labels: docs, ui-components

#4492 [4464] Update overview docs
  docusaurus/docs/Android/03-ui/01-overview.mdx
  docusaurus/docs/Android/assets/sample-channels-light.png
  docusaurus/docs/Android/assets/sample-login-dark.png
  docusaurus/docs/Android/assets/sample-messages-dark.png
  docusaurus/docs/Android/assets/sample-messages-light.png
  stream-chat-android-docs/src/main/java/io/getstream/chat/docs/java/ui/Overview.java
  stream-chat-android-docs/src/main/kotlin/io/getstream/chat/docs/kotlin/ui/Overview.kt
Labels: docs, ui-components
