Repository GetStream/stream-chat-android, pull requests merged in 2022-01, with the labels that each got.

#2862 [2861] Reduce avatar initials font size
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/QuotedMessage.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/ThreadParticipants.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
Labels: compose

#2857 Cleaned up some logic around messages and autoscroll
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/Messages.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/values/colors.xml
Labels: compose

#2855 [2846] Update `MessageListHeader` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/04-compose/04-message-components/02-message-list-header.mdx
  docusaurus/docs/Android/assets/compose_custom_message_list_header_component.png
  docusaurus/docs/Android/assets/compose_default_message_list_header_component.png
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamDimens.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/theme/StreamShapes.kt
Labels: compose

#2887 [2676] Fix channel list autoscroll
  CHANGELOG.md
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/Channels.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
Labels: compose

#2914 Added minimum frame delay for giphies
  CHANGELOG.md
  stream-chat-android-ui-common/src/main/kotlin/com/getstream/sdk/chat/coil/StreamImageLoaderFactory.kt
Labels: enhancement, compose, ui-components

#2916 Add small fix to intercept scrolling when popups are shown
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/internal/MessageListScrollHelper.kt
Labels: bug, customer-request, ui-components

#2878 [2864] Update custom attachments documentation
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/02-general-customization/02-attachment-factory.mdx
Labels: compose

#2868 [2853] Add docs for the SelectedReactionsMenu component
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/01-overview.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/05-selected-channel-menu.mdx
  docusaurus/docs/Android/04-compose/04-message-components/03-message-list.mdx
  docusaurus/docs/Android/04-compose/04-message-components/06-selected-message-menu.mdx
  docusaurus/docs/Android/04-compose/04-message-components/07-selected-reactions-menu.mdx
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_custom_header_slot.png
  docusaurus/docs/Android/assets/compose_custom_selected_reactions_menu_shape_and_alignment.png
  docusaurus/docs/Android/assets/compose_default_selected_reactions_menu.png
Labels: compose

#2866 [2856] Update the `MessagesScreen` docs
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/04-compose/04-message-components/01-messages-screen.mdx
  docusaurus/docs/Android/assets/compose_custom_messages_screen_component.png
  docusaurus/docs/Android/assets/compose_default_messages_screen_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
Labels: compose

#2869 [2815] Update `MessageList` documentation
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/03-message-list.mdx
  docusaurus/docs/Android/assets/compose_custom_message_list_component.png
  docusaurus/docs/Android/assets/compose_default_message_list_component.png
Labels: compose

#2942 [2941] Fix deleting channels
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
Labels: compose

#2947 [2944] Handle absent member count
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ChannelInfoDto.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/DownstreamMessageDtoAdapterTest.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/ChannelInfoDtoTestData.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/MessageDtoTestData.kt
Labels: bug, core

#2918 [2678] improve reactions picker UX
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/04-message-components/08-reactions-picker.mdx
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component.png
  docusaurus/docs/Android/assets/compose_custom_reactions_picker_component_with_custom_content.png
  docusaurus/docs/Android/assets/compose_default_reactions_picker_component.png
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewMessageData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/state/messages/SelectedMessageState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ExtendedReactionsOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionoptions/ReactionOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionpicker/ReactionsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedMessageMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_more.xml
  stream-chat-android-compose/src/main/res/values-en/strings.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
Labels: compose

#2948 Added customization options for message, member and channel limits when querying channels
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/04-compose/04-message-components/01-messages-screen.mdx
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/ChannelsScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/channel/ChannelViewModelFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessagesViewModelFactory.kt
Labels: compose

#2950 Intercepted the default click listener to disable opening uploading files
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/MessageListView.kt
Labels: ui-components

#2949 [2946] Handle system message from channel truncated event
  CHANGELOG.md
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api/ChatApi.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/ChannelApi.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/MoshiChatApi.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/EventMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/EventDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/requests/TruncateChannelRequest.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/channel/ChannelClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/events/ChatEvent.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/parser2/MoshiChatParser.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser/EventArguments.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/channel/logic/ChannelLogic.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/utils/TestDataHelper.kt
Labels: bug, core

#2954 [2951] Handle mentions in DiffUtil
  CHANGELOG.md
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/MessageListItemPayloadDiff.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/internal/MessageListItemDiffCallback.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/list/adapter/viewholder/internal/MessagePlainTextViewHolder.kt
Labels: bug, ui-components

#2961 [2816] Improve MessageComposer UX
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
Labels: compose

#2977 Fix marking read when using ChatDomain
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/usecase/MarkRead.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/usecase/MarkReadTest.kt
Labels: core

#2967 [2623] Write a guide about custom attachments
  CHANGELOG.md
  docusaurus/docs/Android/04-compose/03-channel-components/01-channels-screen.mdx
  docusaurus/docs/Android/04-compose/03-channel-components/02-channel-list-header.mdx
  docusaurus/docs/Android/04-compose/04-message-components/01-messages-screen.mdx
  docusaurus/docs/Android/04-compose/04-message-components/02-message-list-header.mdx
  docusaurus/docs/Android/04-compose/04-message-components/04-message-composer.mdx
  docusaurus/docs/Android/04-compose/07-guides/01-adding-custom-attachments.mdx
  docusaurus/docs/Android/04-compose/07-guides/_02-building-channels-screen.mdx
  docusaurus/docs/Android/04-compose/07-guides/_03-building-messages-screen.mdx
  docusaurus/docs/Android/04-compose/07-guides/_04-custom-message-input.mdx
  docusaurus/docs/Android/04-compose/07-guides/_05-building-custom-screens.mdx
  docusaurus/docs/Android/04-compose/07-guides/_category_.json
  docusaurus/docs/Android/04-compose/_07-guides/05-custom-attachment-factories.mdx
  docusaurus/docs/Android/assets/compose_rendering_custom_attachments.png
  docusaurus/docs/Android/assets/compose_sending_custom_attachments.png
Labels: compose

#2980 [2871] Thread mode for MessageComposer
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageComposerViewModel.kt
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/common/state/MessageInputState.kt
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatFragment.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultBottomContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultCenterContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultLeadingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultTrailingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerViewModel.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerViewModelBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/command/MessageComposerDefaultCommandSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/mention/MessageComposerDefaultMentionSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_bottom_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_center_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_leading_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_trailing_content.xml
Labels: ui-components

#2987 Removed Icons dependency, added RTL support to some icons and text input
  CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-compose-sample/build.gradle
  stream-chat-android-compose-sample/src/main/java/io/getstream/chat/android/compose/sample/MessagesActivity.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/build.gradle
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/BackButton.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/InputField.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/MessageInputOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/OwnedMessageVisibilityContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/mediapreview/MediaPreviewActivity.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/AttachmentsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/ImageUtils.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_channels.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_empty_search_results.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_arrow_back.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_attachments.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_circle_left.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_edit.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_reply.xml
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_visible_to_you.xml
Labels: enhancement, feature request, compose

#2985 Move events handling to offline plugin
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/channel/ChannelController.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/event/EventHandlerImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/channel/logic/ChannelLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/extensions/ChatClient.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/logic/LogicRegistry.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/state/StateRegistry.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/querychannels/logic/QueryChannelsLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/querychannels/QueryChannelsController.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/channel/controller/WhenHandleEvent.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/event/TotalUnreadCountTest.kt
Labels: core

#2988 [2874] Cleanup composer buttons
  stream-chat-android-ui-components-sample/src/main/kotlin/io/getstream/chat/ui/sample/feature/chat/ChatFragment.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerComponent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultBottomContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultLeadingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerDefaultTrailingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerView.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/MessageComposerViewModelBinding.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerCenterContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerCommandSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerFooterContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerHeaderContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerLeadingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerMentionSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/content/DefaultMessageComposerTrailingContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/command/CommandViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/command/CommandsAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/command/MessageComposerDefaultCommandSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/mention/MentionsAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/mention/MentionsViewHolder.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/message/composer/suggestions/mention/MessageComposerDefaultMentionSuggestionsContent.kt
  stream-chat-android-ui-components/src/main/res/color/stream_ui_checkbox_color_selector.xml
  stream-chat-android-ui-components/src/main/res/drawable/stream_ui_ic_dismiss.xml
  stream-chat-android-ui-components/src/main/res/drawable/stream_ui_ic_send_message.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_footer_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_header_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_leading_content.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_message_composer_default_trailing_content.xml
  stream-chat-android-ui-components/src/main/res/values/dimens.xml
Labels: ui-components

#3001 Fix clearing cache after receiving channel truncated event
  CHANGELOG.md
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/ChatDomainImpl.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/channel/logic/ChannelLogic.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/RepositoryFacade.kt
Labels: core

#3004 [2882] Remove Lottie library
  CHANGELOG.md
  buildSrc/src/main/kotlin/io/getstream/chat/android/Dependencies.kt
  stream-chat-android-ui-components/build.gradle
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/typing/TypingIndicatorAnimationView.kt
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_typing_indicator_animation_view.xml
  stream-chat-android-ui-components/src/main/res/raw/stream_ui_typing_dots.json
Labels: ui-components

#2993 Plugin interface refactor
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/ChatClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/Plugin.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/OperationListenersFacade.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/QueryChannelListener.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/QueryChannelsListener.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/SendMessageListener.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/experimental/plugin/listeners/ThreadQueryListener.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenMarkReadChannel.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/chatclient/WhenQueryChannel.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/experimental/plugin/OfflinePlugin.kt
Labels: core
