Repository GetStream/stream-chat-android, pull requests merged in 2024-12, with the labels that each got.

#5499 Implement AI indicator events
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/detekt-baseline.xml
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/EventMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/EventDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/channel/ChannelClient.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/events/ChatEvent.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/parser2/adapters/EventAdapter.kt
  stream-chat-android-core/api/stream-chat-android-core.api
  stream-chat-android-core/src/main/java/io/getstream/chat/android/models/EventType.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/logic/channel/internal/ChannelLogic.kt
Labels: core

#5505 Implement overriding footer message contents on MessageContentFactory
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/factory/MessageContentFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageContainer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
Labels: compose

#5501 [CI] Update default GitHub branch
  .github/pull_request_template.md
  .github/workflows/clean-detekt-baseline.yaml
  .github/workflows/localazy-download.yml
  .github/workflows/release-start.yaml
  CONTRIBUTING.md
  DokkaRoot.md
  fastlane/Fastfile
Labels: CI/CD

#5493 [AND-15] Moderation V2
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/MessageMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ModerationMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/DownstreamModerationDto.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/MessageDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/message/MessageUtils.kt
  stream-chat-android-core/api/stream-chat-android-core.api
  stream-chat-android-core/src/main/java/io/getstream/chat/android/models/Message.kt
  stream-chat-android-core/src/main/java/io/getstream/chat/android/models/Moderation.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/converter/internal/ModerationConverter.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/internal/ChatDatabase.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/MessageEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/MessageMapper.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/ModerationEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/ModerationMapper.kt
  stream-chat-android-state/src/main/java/io/getstream/chat/android/state/plugin/listener/internal/SendMessageListenerState.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/utils/extensions/Message.kt
Labels: QAed

#5524 [AND-161] Improve storage permission handling in attachment factories (XML)
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/AttachmentsPickerFilesTabFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/AttachmentsPickerImagesTabFactory.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/FilesAccess.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/FilesAccessAsState.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/Permissions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/attachments/factory/VisualMediaAccessAsState.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/permissions/FilesAccess.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/permissions/Permissions.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/permissions/VisualMediaAccess.kt
  stream-chat-android-ui-components/api/stream-chat-android-ui-components.api
  stream-chat-android-ui-components/src/main/AndroidManifest.xml
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/MessageComposerViewStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/AttachmentsPickerDialogStyle.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/factory/file/internal/FileAttachmentFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/factory/media/internal/MediaAttachmentAdapter.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/factory/media/internal/MediaAttachmentFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/factory/media/internal/MediaAttachmentListItem.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/utils/PermissionChecker.kt
  stream-chat-android-ui-components/src/main/res/drawable/stream_ui_ic_add.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_fragment_attachment_file.xml
  stream-chat-android-ui-components/src/main/res/layout/stream_ui_item_attachment_media_add_more.xml
  stream-chat-android-ui-components/src/main/res/values/attrs_message_composer_view.xml
  stream-chat-android-ui-components/src/main/res/values/strings_message_composer.xml
  stream-chat-android-ui-components/src/main/res/values/styles.xml
Labels: ui-components
