Repository GetStream/stream-chat-android, pull requests merged in 2024-04, with the labels that each got.

#5231 [i280] remove unused resources
  stream-chat-android-ui-components/src/main/res/drawable/ic_launcher_background.xml
  stream-chat-android-ui-components/src/main/res/drawable/round_bg.xml
Labels: ui-components, v6

#5235 [i283] Keyboard gets stuck when typing
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/composer/InputField.kt
Labels: bug, compose, v6

#5240 (docs) outline the TokenProvider impl requirements
  docusaurus/android_versioned_docs/version-5.x.x/02-client/01-users.mdx
  docusaurus/android_versioned_docs/version-6.x.x-before-refactoring/03-client/01-users.mdx
  docusaurus/docs/Android/client/overview.mdx
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/token/TokenProvider.kt
Labels: docs

#5247 Reaction Group
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/MessageMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/mapping/ReactionMapping.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/MessageDtos.kt
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/api2/model/dto/ReactionDtos.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/parser2/testdata/MessageDtoTestData.kt
  stream-chat-android-core/api/stream-chat-android-core.api
  stream-chat-android-core/src/main/java/io/getstream/chat/android/models/Message.kt
  stream-chat-android-core/src/main/java/io/getstream/chat/android/models/ReactionGroup.kt
  stream-chat-android-core/src/testFixtures/kotlin/io/getstream/chat/android/Mother.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/converter/internal/ReactionGroupConverter.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/database/internal/ChatDatabase.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/MessageEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/ReactionGroupEntity.kt
  stream-chat-android-offline/src/main/java/io/getstream/chat/android/offline/repository/domain/message/internal/ReactionGroupMapper.kt
  stream-chat-android-offline/src/test/java/io/getstream/chat/android/offline/repository/database/converter/ReactionGroupConverterTest.kt
Labels: core, v6
