Repository GetStream/stream-chat-android, pull requests merged in 2024-08, with the labels that each got.

#5330 Implement Poll previews & screenshot unit tests (4)
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollDialogHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollMoreOptionsDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollViewResultDialog.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/ui/poll/PollUITest.kt
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollMoreOptionsDialog composable in dark mode.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollMoreOptionsDialog composable.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollViewResultDialog composable in dark mode.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollViewResultDialog composable.png
Labels: compose, v6

#5311 Implement PollMessageContent (3)
  docusaurus/docs/Android/assets/poll_attachments.png
  docusaurus/docs/Android/assets/polls_configurations.png
  docusaurus/docs/Android/assets/polls_creation_dark.png
  docusaurus/docs/Android/assets/polls_creation_dialog.png
  docusaurus/docs/Android/assets/polls_creation_light.png
  docusaurus/docs/Android/assets/polls_dashboard.png
  docusaurus/docs/Android/assets/polls_header.png
  docusaurus/docs/Android/assets/polls_message_content.png
  docusaurus/docs/Android/assets/polls_option_list.png
  docusaurus/docs/Android/assets/polls_question_input.png
  docusaurus/docs/Android/assets/polls_switches.png
  docusaurus/docs/Android/compose/polls.mdx
  stream-chat-android-client/api/stream-chat-android-client.api
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/utils/message/MessageUtils.kt
  stream-chat-android-compose/api/stream-chat-android-compose.api
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewMessageData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewPollData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatarRow.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/GiphyMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/PollMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollDialogHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollMoreOptionsDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollViewResultDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageContainer.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/list/MessageList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/util/MessagePreviewFormatter.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/viewmodel/messages/MessageListViewModel.kt
  stream-chat-android-compose/src/main/res/drawable/stream_compose_ic_award.xml
  stream-chat-android-compose/src/main/res/values/strings.xml
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/ui/poll/PollUITest.kt
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollMoreOptionsDialog composable in dark mode.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollMoreOptionsDialog composable.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollViewResultDialog composable in dark mode.png
  stream-chat-android-compose/src/test/snapshots/images/io.getstream.chat.android.compose.ui.poll_PollUITest_snapshot PollViewResultDialog composable.png
  stream-chat-android-ui-common/api/stream-chat-android-ui-common.api
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/feature/messages/list/MessageListController.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/state/messages/poll/PollState.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/list/MessageListView.kt
  stream-chat-android-ui-components/src/main/res/values/strings_message_list.xml
Labels: compose, v6

#5339 Move Compose previewdata classes into the new stream-chat-android-previewdata module
  settings.gradle
  stream-chat-android-compose/build.gradle
  stream-chat-android-compose/detekt-baseline.xml
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/previewdata/PreviewUserReactionData.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/header/ChannelListHeader.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/info/SelectedChannelMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/channels/list/ChannelList.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/ChannelAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/GroupAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatar.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/avatar/UserAvatarRow.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembers.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelMembersItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/ChannelOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/channels/MessageReadStatusIcon.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptionItem.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messageoptions/MessageOptions.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/GiphyMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/PollMessageContent.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollMoreOptionsDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/poll/PollViewResultDialog.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/reactionpicker/ReactionsPicker.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/selectedmessage/SelectedReactionsMenu.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/header/MessageListHeader.kt
  stream-chat-android-compose/src/test/kotlin/io/getstream/chat/android/compose/ui/poll/PollUITest.kt
  stream-chat-android-previewdata/.gitignore
  stream-chat-android-previewdata/api/stream-chat-android-previewdata.api
  stream-chat-android-previewdata/build.gradle.kts
  stream-chat-android-previewdata/detekt-baseline.xml
  stream-chat-android-previewdata/src/main/AndroidManifest.xml
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewChannelData.kt
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewMembersData.kt
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewMessageData.kt
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewPollData.kt
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewReactionData.kt
  stream-chat-android-previewdata/src/main/kotlin/io/getstream/chat/android/previewdata/PreviewUserData.kt
Labels: compose, v6

#5347 Remove outdated snpashot maven repository guidelines
  docusaurus/docs/Android/basics/overview.mdx
Labels: docs

#5384 [PBE-0] use user.id for mentions if user.name is empty
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/suggestions/mentions/MentionSuggestionItem.kt
  stream-chat-android-ui-common/src/main/kotlin/io/getstream/chat/android/ui/common/feature/messages/composer/MessageComposerController.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/content/DefaultMessageComposerMentionSuggestionsContent.kt
Labels: compose, ui-components

#5386 [5304] enableEdgeToEdge hides EditText/TextField
  CHANGELOG.md
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/MessagesScreen.kt
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/messages/composer/MessageComposer.kt
Labels: compose

#5387 [5148] Crash on MediaGalleryPreviewActivity
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/attachments/preview/MediaGalleryPreviewActivity.kt
Labels: bug, compose
