Repository GetStream/stream-chat-android, pull requests merged in 2025-05, with the labels that each got.

#5774 [AND-540] Fix MessageRegularContent component factory
  stream-chat-android-compose/src/main/java/io/getstream/chat/android/compose/ui/components/messages/MessageContent.kt
Labels: bug, compose

#5778 [AND-552] Fix UninitializedPropertyAccessException in AttachmentsPickerSystemFragment
  CHANGELOG.md
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/AttachmentsPickerDialogFragment.kt
  stream-chat-android-ui-components/src/main/kotlin/io/getstream/chat/android/ui/feature/messages/composer/attachment/picker/factory/system/internal/AttachmentsPickerSystemFragment.kt
Labels: bug, ui-components

#5786 [CI] Resolve reconnection edge case in E2E tests
  stream-chat-android-compose-sample/src/androidTestE2eDebug/kotlin/io/getstream/chat/android/compose/tests/ReactionsTests.kt
  stream-chat-android-e2e-test/src/main/AndroidManifest.xml
  stream-chat-android-e2e-test/src/main/kotlin/io/getstream/chat/android/e2e/test/uiautomator/Actions.kt
Labels: CI/CD

#5762 Fix optimistic updates when adding/removing a reaction.
  CHANGELOG.md
  stream-chat-android-client/src/main/java/io/getstream/chat/android/client/extensions/internal/MessageReactions.kt
  stream-chat-android-client/src/test/java/io/getstream/chat/android/client/extensions/internal/MessageReactionsTests.kt
  stream-chat-android-compose-sample/src/androidTestE2eDebug/kotlin/io/getstream/chat/android/compose/tests/ReactionsTests.kt
  stream-chat-android-e2e-test/src/main/AndroidManifest.xml
  stream-chat-android-e2e-test/src/main/kotlin/io/getstream/chat/android/e2e/test/uiautomator/Actions.kt
Labels: QAed
